.cart-small-basket .cart-total-line{    
	padding: 5px 7px;
    font-size: 13px;
    border-top: 1px solid #e5e5e5;
    line-height: 25px;
    overflow: hidden;
}

.cart-small-basket .cart-total-line:first-child {
    border-top: none;
}

.cart-small-basket .cart-t{ float: left; }
.cart-small-basket .cart-d{ float: right; text-align: right; }
.cart-small-basket .bold{ font-weight:bold; }