.mfp-hide {
	display:none;
}

.mfp-fade.mfp-bg {
	opacity: 0;
	-webkit-transition: all 0.3s ease-out;
	-moz-transition: all 0.3s ease-out;
	transition: all 0.3s ease-out;
}

.mfp-fade.mfp-bg.mfp-ready {
	opacity: 0.8;
}

.mfp-fade.mfp-wrap.mfp-ready {
}

.mfp-fade.mfp-bg.mfp-removing {
	opacity: 0;
}

.mfp-fade.mfp-wrap .mfp-content {
	opacity: 0;
	-webkit-transition: all 0.3s ease-out;
	-moz-transition: all 0.3s ease-out;
	transition: all 0.3s ease-out;
}

.mfp-fade.mfp-wrap.mfp-ready .mfp-content {
	opacity: 1;
}

.mfp-fade.mfp-wrap.mfp-removing .mfp-content {
	opacity: 0;
}

/*div.bx-component-opener {
	z-index:1050 !important;
}

#bx-admin-prefix {
	z-index:1051 !important;
}*/

.ds-callback {
	color:#333333;
	background-color:#ffffff !important;
	max-width:360px;
	position:relative;
	margin:15px auto;
	padding:10px 15px;
}

.ds-callback .ds-title {
	text-transform:uppercase;
	text-align:center;
	font-weight:700;
	font-size:16px;
}

.ds-callback .ds-form {
	margin:20px 0 0 0;
}

.ds-callback .ds-str {
	margin:0 0 10px 0;
}

.ds-callback label {
	display:block;
	font-weight:100;
	margin:0;
	padding:0;
	font-size:14px;
}

.ds-callback input[type="text"] {
	display:block;
	padding:3px 8px;
	width:100%;
	border:1px solid #999999;
	font-size:13px;
}

.ds-callback textarea {
	display:block;
	padding:3px 8px;
	width:100%;
	border:1px solid #999999;
	font-size:13px;
	resize:none;
	height:80px;
}

.ds-callback .ds-str.ds-btn {
	padding:5px 0 0 0;
}

.ds-cb-send {
	cursor:pointer;
	text-align:center;
	background-color:#333333;
	padding:5px;
	color:#ffffff;
	font-size:14px;
	text-transform:uppercase;
}

.ds-cb-send.load {
	background-color:#666666 !important;
	color:#999999 !important;
}

.ds-callback .inpErr {
	border:1px solid #e73c3c !important;
	background-color:rgba(231, 60, 60, 0.05);
}

.ds-callback .dscb-result {
	text-align: center;
    font-size: 16px;
}