.bx-subscribe {
	margin: 10px 0;
}
.bx-subscribe div.bx-block-title {
	font-family: "Open Sans", Arial, "Helvetica Neue", Helvetica, sans-serif;
	color: #343434;
	text-transform: uppercase;
	font-size: 12px;
	margin-bottom: 9px;
	font-weight: 600;
}
.bx-subscribe-desc {
	color: #aaa;
	font-size: 12px;
	position: relative;
	margin-top: -5px;
	margin-bottom: 3px;
}
.bx-subscribe .bx-input-group .bx-form-control {
	position: relative;
	margin-bottom: 15px;
	display: block;
	width: 100%;
	height: 34px;
	padding: 6px 12px;
	font-size: 14px;
	line-height: 1.42857143;
	color: #555;
	background-color: transparent;
	border: 1px solid #D5DADC;
	border-radius: 2px;
	outline: none;
	box-shadow: none !important;
	-webkit-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
	transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
}

.btn-subscribe {
	display: block;
    width: 100%;
	cursor: pointer;
	text-align: center;
	background: transparent;
	border: 1px solid #fff;
	color: #fff;
	font-size: 13px;
	position: relative;
	text-transform: uppercase;
	border-radius: 2px;
	line-height: 30px;
	vertical-align: middle;
	outline: none;
	-webkit-transition: all 0.15s linear;
	-moz-transition: all 0.15s linear;
	-ms-transition: all 0.15s linear;
	-o-transition: all 0.15s linear;
	transition: all 0.15s linear;
	padding: 0 !important;
    height: 34px;
}
.btn-subscribe:hover {
	background: #ffffff;
	color:#802626 !important;
}

@media only screen and (max-width: 991px) {
	.btn-subscribe{margin-top:40px;}
}


.btn-subscribe span {
	display: block;
}
.btn-subscribe.send {
	padding: 5px 40px;
	-webkit-animation-name: MeilSend;
	animation-name: MeilSend;
	-webkit-animation-duration: .5s;
	animation-duration: .5s;
	outline: none;
	color: #fff;
}
.btn-subscribe:hover, .btn-subscribe:active{color: #fff;}
.btn-subscribe.send:before {
	width: 0;
	background-position: 100px 50%;
	-webkit-animation-name: MeilSendButton;
	animation-name: MeilSendButton;
	-webkit-animation-duration: .5s;
	animation-duration: .5s;
}
@keyframes MeilSend {0%{padding:5px 60px 5px 20px}100%{padding:5px 40px}}
@-webkit-keyframes MeilSend {0%{padding:5px 60px 5px 20px}100%{padding:5px 40px}}
@keyframes MeilSendSpan {0%{color:transparent;}100%{color:#fff;}}
@-webkit-keyframes MeilSendSpan {0%{color:transparent;}100%{color:#fff;}}
@keyframes MeilSendButton {0%{width:40px;background-position:50%}100%{width:0;background-position:100px 50%}}
@-webkit-keyframes MeilSendButton {0%{width:40px;background-position:50%}100%{width:0;background-position:100px 50%}}

.bx_subscribe_response_container {
	padding: 40px;
	color: #35414E;
}

.bx_subscribe_checkbox_container {
  line-height: 16px;
  font-size: 13px;
  margin-bottom: 3px;
  vertical-align: middle;
  color: #aaa;
}