.bx-basket {}
.bx-basket-block {
	font-size: 12px;
	white-space: nowrap;
	position: relative;
}
.bx-basket-block>.fa {
	color: #97a1ab;
	width: 12px;
	position: absolute;
	left: 0;
	top: 3px;
}
.bx-header-section a {
	color: #330000;
	border-bottom: none;
}
.bx-header-section a:hover {
	text-decoration: none;
	border-bottom-color: transparent;
}

.bx-hdr-profile{
	display: flex;
	justify-content: center;
}

.cart-icon{
	display: block;
	width: 35px;
	height: 35px;
	background: url('/images/cart-icon.png') no-repeat center;
	border-radius: 50%;
	margin-right: 5px;
}

.cart-count{
	display: block;
	min-width: 24px;
	height: 24px;
	font-size: 13px;
	background: #802626;
	color: #fff;
	border-radius: 50%;
	text-align: center;
	line-height: 24px;
	margin-right: -20px;
	margin-top: -10px;
}

.cart-block{
	display: flex;
	align-items: center;
	justify-content: center;
}

.top-head-btns{
	width: 100px;
	float: left;
	margin-left: 80px;
}

.bx-basket-fixed{
	position: absolute;
	width: 100%;
	top: 0px !important;
	left: 0px;
	z-index: 115;
	background: transparent !important;
	box-shadow: none;
}

.bx-basket-item-list {
	background-color: #fff;
	z-index: 99;
}

.bx-basket-block .cart-header-price {
	min-width: 105px;
	line-height: 17px;
	padding-left: 10px;
	text-align: left;
}
.bx-basket-block .time {
	font-size: 10px;
}
.bx-basket-block .caret {
	margin-left: 7px;
    margin-top: -5px;
}

/*FIXED BASKET*/

@media (max-width: 767px) {
	.bx-basket-item-list{
		display: none;
	}
	/*.bx-basket-fixed */
}
.bx-basket-fixed .bx-basket-block{
	margin-left: 10px;
}
.bx-basket-item-list{
	position: absolute;
	overflow: hidden;
}

.bx-basket-item-list-item-img {
    float: left;
    margin-right: 5px;
}
.bx-opener .bx-basket-item-list{
	padding-bottom: 75px;
}
.bx-max-height .bx-basket-item-list{
	position: absolute;
	bottom: 0px;
	left: 0;
	right: 0;
}
.bx-closed .bx-basket-item-list{
	height: 0px;
	overflow: hidden;
}
.bx-basket-item-list-action{
	cursor: pointer;
	background: #f1f1f1;
	position: absolute;
	bottom: 0;
	right: 0;
	left: 0;
	z-index: 120;
	height: 20px;
	line-height: 14px;
	vertical-align: middle;
	text-align: center;
	font-size: 12px;
	color: #4f4f4f;
	padding: 3px 0;
}
.bx-basket-item-list-button-container{
	text-align: center;
	position: absolute;
	bottom: 20px;
	border-top: 1px solid #F7F7F7;
	padding: 10px 0;
	background: #fff;
	left: 0;
	right: 0;
}

.bx-basket-item-list-button-container a.btn
{
	color: #dddddd;
	text-decoration: none;
}

.bx-basket-item-list-button-container a.btn:hover,
.bx-basket-item-list-button-container a.btn:active
{
	color: #ffffff;
}

.bx-basket-item-list-container{
	overflow-y: auto;
	max-height: 100%
}
.bx-basket-item-list-item{
	padding-top: 15px;
	position: relative;
	padding-right: 10px;
	padding-left: 10px;
	margin-bottom: 15px;
	border-bottom: 1px solid #F7F7F7;
}
.bx-basket-item-list-container .bx-basket-item-list-item:last-child{
	border-bottom: none;
	margin-bottom: 0;
}
.bx-basket-item-list-item-status{
	font-weight: bold;
	padding: 3px;
	background: #EBEBEB;
	margin: 0 10px 20px;
	line-height: 16px;
	font-size: 13px;
	border-radius: 3px;
	text-align: center;
	white-space: normal;
}
.bx-basket-item-list-item-img{
	text-align: center;
	position: relative;
	padding-bottom: 5px;
}
.bx-basket-item-list-item-img img{
	max-width: 90px;
	height: auto;
	border: 1px solid #E6E6E6;
}
.bx-basket-item-list-item-name
{
	padding-bottom: 5px;
}
.bx-basket-item-list-item-name a
{
	font-size: 13px;
	color: #3F3F3F;
	text-decoration: none;
	white-space: normal;
	line-height: 16px;
}
.bx-basket-item-list-item-remove{
	position: absolute;
	right: 10px;
	top: -7px;
	width: 20px;
	height:20px;
	cursor: pointer;
	background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAcAAAAHCAMAAADzjKfhAAAAJFBMVEX///8yMjI6Ojpvb29wcHCEhISHh4eIiIiqqqqtra2wsLCxsbE3yvJ6AAAAAXRSTlMAQObYZgAAACxJREFUCNcFwYEBgCAMA7BYUMb2/78m9sXdJtfNMHkzcJ4DlS9FpXXKavT6ARdgANGqCJ38AAAAAElFTkSuQmCC) no-repeat center;
	opacity: .5;
}
.bx-basket-item-list-item-remove:hover{
	opacity: .7;
}
.bx-basket-item-list-item-price-block{
	padding-bottom: 5px;
	font-size: 12px;
}
.bx-basket-item-list-item-price{
	display: inline-block;
	margin-right: 5px;
}
.bx-basket-item-list-item-price-old{
	display: block;
	text-align:right;
	margin-right: 5px;
	text-decoration: line-through;
	color: #B0B0B0
}
.bx-basket-item-list-item-price-summ{}

.bx_cart_login_top .bx-hdr-profile a {
	text-decoration: none;
}
.bx_cart_login_top .bx-hdr-profile{
	line-height: 1.44em;
}

/*My Alex style*/

.bx-basket-fixed{
	position: initial;
}

.bx-opener .bx-basket-item-list{
	padding-bottom: 75px;
    border: 1px black solid;
    border-radius: 3px;
    /* max-width: 200px; */
    width: 205px;
    margin-top: 6px;
}

@media (min-width: 1000px) {
	.bx-opener .bx-basket-item-list {
		width: 300px;
	}
	.bx-basket-fixed .bx-basket-item-list-item-name {
		width: 68% !important;
	}
}

@media only screen and (max-width: 768px) {
	.bx-opener .bx-basket-item-list {
		right:0;
	}
}

.bx-basket-item-list-button-container{
	padding: 10px 0 0 0;
}

.bx-basket-item-list-button-container a.btn{
	color: black;
	border: 1px black solid;
    width: 165px;
}

div.bx-basket-item-list-button-container>a.btn-primary{
	background-color: #fff;
}

.bx-basket-item-list-button-container a.btn:hover, .bx-basket-item-list-button-container a.btn:active {
	background-color: #802626;
}

.bx-basket-item-list-container{
	max-height: 300px;
	font-family: 'museo_cyrl500';
    line-height: 1.2;
}
.bx-basket-item-list-item-status{
	display: none;
}

.bx-basket-item-list-item{
	border-bottom: none;
	padding-top: 30px;
	margin-bottom: 40px;
}

.bx-basket-item-list-item-img{
	float: right;
}

.bx-basket-item-list-item-img img{
	border: none;
}
.bx-basket-item-list-item-remove{
    right: -10px;
}
.bx-basket-item-list-item-name{
	padding-bottom: 5px;    
    display: table-cell;
    text-align: right;
    padding-right: 8px;
}
.bx-basket-item-list-item-price-block{
    padding-bottom: 5px;
    font-size: 12px;
    float: right; 
    clear: both;
    padding-right: 15px;
}

.bx-basket-item-list-item-price{
	display: block;
	text-align: right;
}

/*end Alex style*/


#basket-inline-overlay{
	width:100%; 
	height:100%; 
	top:0; 
	left:0; 
	position:absolute; 
	background:rgba(0,0,0,0.2); 
	cursor:pointer;
	z-index: 101;
}

.bx-touch #basket-inline-overlay {
	display:none;
}

@media only screen and (max-width: 768px) {
	#basket-inline-overlay {
		display:none;
	}
}