.payment-page-title {
    font-family: 'museo_cyrl500';
    font-size: 24px;
    background-color: #fff;
    width: 184px;
    height: 50px;
    text-align: center;
    padding-top: 10px;
	position:relative;
	margin-left:114px;
	margin-bottom: 20px;
	color:#402f2b;
}
.payment-page-title:before{
    background: url(../image/titlle-before.png);
    background-repeat: no-repeat;
    background-size: contain;
    top: 0px;
    left: -114px;
    width: 114px;
    position: absolute;
    height: 50px;
    z-index: 0;
    content: "";
    background-position: left top;
	color:#402f2b;
}
.payment-page-h2{
    font-family: 'museo_cyrl500';
    font-size: 24px;
	position:relative;
	color:#402f2b;
	margin-top: 30px;
    margin-bottom: 30px;
}
.payment-page p, 
.payment-page ul, 
.payment-page td, 
.payment-page th, 
.payment-page li {
	font-family:'Open Sans', sans-serif;
    font-weight: 500;
}

.payment-page-white-box-text{
	background-color: #fff;
    width: 290px;
    height: 151px;
    border: 1px solid #402f2b;
	float:left;
	padding-left: 15px;
    padding-top: 25px;
}
.abzac{
	margin-bottom: 30px;
}
.table-payment{
	clear:both;
}
.payment-page-white-box-text2{
    background-color: #fff;
    margin-left: 300px;
    height: 151px;
	padding: 30px 45px 0px 45px;	
}

/*table*/
.table-row {
    background-color: rgba(255,255,255,0) !important;
	margin-bottom: 30px;
    display: block;
}
.table-payment > tbody > .table-row > td{
	border:none !important;
}

.city-link {
    color: #402f2b;
    font-family: 'museo_cyrl300';
    font-size: 16px;
    background-color: #fff;
    width: 290px;
    display: block;
    height: 50px;
    text-align: center;
    padding-top: 16px;
	margin-bottom: 10px;
}
.city-link:hover, .city-link:active, .city-link:focus, .city-link:visited {
	border-left:10px solid #99583d;
	text-decoration:none;
}
.active-first{
	border-left:10px solid #99583d;
	text-decoration:none;	
}
td.city-payment p {
    padding: 9px;
}

.city-payment {
    background-color: #fff;
    padding-bottom: 0px !important;
}
td.table-left-city {
    padding-bottom: 0px !important;
    padding-top: 0px !important;
    padding-left: 0px !important;
	width: 300px;
}
.city-payment {
    padding-top: 0px !important;
	width: 100%;
}
a.city-link[data-id="4"] {
    margin-bottom: 0px;
}
.payment-id0{
	position:relative;
	margin-left:65px;
	margin-top: 5px;
}
.payment-id1{
	position:relative;
	margin-left:65px;
}
.payment-id2{
	position:relative;
	margin-left:64px;
}
.payment-id3{
	position:relative;
	margin-left:62px;
}
.payment-id4{
	position:relative;
	margin-left:60px;
}
.payment-id5{
	position:relative;
	margin-left:64px;
}
.payment-id0:before{
    background: url(../image/cash1.png);
    background-repeat: no-repeat;
    background-size: contain;
    top: 0px;
    left: -35px;
    width: 35px;
    position: absolute;
    height: 34px;
    z-index: 0;
    content: "";
    background-position: left top;
}
.payment-id1:before{
    background: url(../image/cash2.png);
    background-repeat: no-repeat;
    background-size: contain;
    top: 0px;
    left: -35px;
    width: 35px;
    position: absolute;
    height: 34px;
    z-index: 0;
    content: "";
    background-position: left top;
}
.payment-id2:before{
    background: url(../image/cash3.png);
    background-repeat: no-repeat;
    background-size: contain;
    top: 0px;
    left: -34px;
    width: 34px;
    position: absolute;
    height: 35px;
    z-index: 0;
    content: "";
    background-position: left top;
}
.payment-id3:before{
    background: url(../image/cash4.png);
    background-repeat: no-repeat;
    background-size: contain;
    top: 0px;
    left: -32px;
    width: 32px;
    position: absolute;
    height: 34px;
    z-index: 0;
    content: "";
    background-position: left top;
}
.payment-id4:before{
    background: url(../image/cash5.png);
    background-repeat: no-repeat;
    background-size: contain;
    top: 0px;
    left: -30px;
    width: 30px;
    position: absolute;
    height: 35px;
    z-index: 0;
    content: "";
    background-position: left top;
}
.payment-id5:before{
    background: url(../image/cash6.png);
    background-repeat: no-repeat;
    background-size: contain;
    top: 0px;
    left: -34px;
    width: 34px;
    position: absolute;
    height: 36px;
    z-index: 0;
    content: "";
    background-position: left top;
}
/*-----*/

/*FOOTER*/
.contacts{
	background-color:#fff;
	height:135px;
	padding-left: 25px;
	padding-top: 20px;
	padding-bottom: 20px;
}
.phone1{
	position:relative;
	margin-left:30px;
	text-align: left;
}
.phone1:before{
    background: url(../image/f-1.png);
    background-repeat: no-repeat;
    background-size: contain;
    top: -2px;
    left: -31px;
    width: 27px;
    position: absolute;
    height: 27px;
    z-index: 0;
    content: "";
    background-position: left top;
}

.email1{
	position:relative;
	margin-left:30px;
    text-align: left;	
}
.email1:before{
    background: url(../image/f-2.png);
    background-repeat: no-repeat;
    background-size: contain;
    top: -2px;
    left: -34px;
    width: 28px;
    position: absolute;
    height: 22px;
    z-index: 0;
    content: "";
    background-position: left top;
}

.skype1{
	position:relative;
	margin-left:30px;
    text-align: left;
}
.skype1:before{
    background: url(../image/f-3.png);
    background-repeat: no-repeat;
    background-size: contain;
    top: -2px;
    left: -31px;
    width: 27px;
    position: absolute;
    height: 26px;
    z-index: 0;
    content: "";
    background-position: left top;
}
.ac-container{
	display:none;
}
/*------*/

/*Адаптив!*/
@media only screen and (max-width: 991px) {
	.abzac {
		margin-bottom: 20px;
	}
	.payment-page-white-box-text2 {
		padding: 10px 25px 0px 25px;
		height: 180px;
		margin-bottom: 10px;
	}
	.payment-page-white-box-text{
		height: 180px;
	    padding-top: 40px;
	}
	.payment-id0{
		margin-left:45px;
	}
	.payment-id1{
		margin-left:45px;
	}
	.payment-id2{
		margin-left:44px;
	}
	.payment-id3{
		margin-left:42px;
	}
	.payment-id4{
		margin-left:40px;
	}
	.payment-id5{
		margin-left:44px;
	}
	.city-link {
		margin-bottom: 20px;
	}
	.contacts {
		height: 155px;
	}
}

@media only screen and (max-width: 685px) {
	.abzac {
		margin-bottom: 10px;
	}
	.contacts {
		padding-top: 10px;
	    padding-left: 15px;
	}
	.payment-id0{
	    padding-right: 0px !important;
		padding-left: 8px !important;
	    margin-bottom: 5px;
	}
	.payment-id1{
	    padding-right: 0px !important;
		padding-left: 8px !important;
	    margin-bottom: 5px;
	}
	.payment-id2{
	    padding-right: 0px !important;
		padding-left: 8px !important;
	    margin-bottom: 5px;
	}
	.payment-id3{
	    padding-right: 0px !important;
		padding-left: 8px !important;
	    margin-bottom: 5px;
	}
	.payment-id4{
	    padding-right: 0px !important;
		padding-left: 8px !important;
	    margin-bottom: 5px;
	}
	.payment-id5{
	    padding-right: 0px !important;
		padding-left: 8px !important;
	    margin-bottom: 5px;
	}
}

@media only screen and (max-width: 651px) {
	.payment-page-white-box-text2 {
		padding: 10px 10px 0px 10px;
		height: 190px;
	}
	.payment-page-white-box-text{
		height: 190px;
	    padding-top: 45px;
	}
}

@media only screen and (max-width: 621px) {
	.payment-page-white-box-text2 {
		padding: 10px 10px 0px 10px;
		height: 230px;
	}
	.payment-page-white-box-text{
		height: 230px;
	    padding-top: 65px;
	}
	.contacts {
		height: 175px;
	}
}

@media only screen and (max-width: 599px) {
	.payment-page-title:before{
		display:none;
	}
	.payment-page-title {
		font-family: 'museo_cyrl500';
		font-size: 32px;
		background-color: rgba(255,255,255,0);
		width: 100%;
		height: 50px;
		text-align: center;
		padding-top: 10px;
		position: relative;
		margin-left: 0px;
		margin-bottom: 20px;
		color: #402f2b;
	}
	.payment-page-h2 {
		font-family: 'museo_cyrl500';
		font-size: 18px;
		position: relative;
		color: #402f2b;
		margin-top: 20px;
		margin-bottom: 20px;
		text-align: center;
	}
	.payment-page p, ul, td, th, li {
		font-size: 12px;
	}
	.payment-page-white-box-text {
		display: none;
	}
	.payment-page-white-box-text2 {
		display: none;
	}
	.contacts {
		height: auto;
		padding-left: 10px;
		width: 100vw;
		margin-left: -15px;
	}
	.table-payment {
		display: none;
	}
	#phone1 {
		display: block;
		width: 100% !important;
		padding: 10px 0px;
	}
	
	#email1 {
		display: block;
		width: 100% !important;
		padding: 10px 0px;
	}
	#skype1 {
		display: block;
		width: 100% !important;
		padding: 10px 0px;
	}
	
	.phone1 {
		position: relative;
		margin-left: 30px;
		padding-left: 10px;
		text-align: left;
	}
	
	.email1 {
		position: relative;
		margin-left: 30px;
		text-align: left;
		padding-left: 10px;
	}

	.skype1 {
		position: relative;
		margin-left: 30px;
		text-align: left;
		padding-left: 10px;
	}
	.container.payment-page {
		padding: 0px !important;
	}
/*-----------------------------------------------------------------------------------------*/
	.ac-container{
		display:block;
	}
	.ac-container [name="accordion-1"] { display: none; }
	.ac-container > :not(input):not(label) {
	  overflow: hidden;
	  height: 0;
	  margin: 0;
	  padding: 0 .5em;
	  border-top-style: none;
	  transition: .5s;
	}
	.ac-container > label {
	  overflow: hidden;
	  display: block;
	  padding: .5em 1em;
	  background: #fff;
	  color: #402f2b;
	  height:40px;
	  font-family: 'museo_cyrl300';
	  font-size: 14px;
	  white-space: nowrap;
	  text-overflow: ellipsis;
	  cursor: pointer;
	  border:1px solid #402f2b;
	  text-align: center;
	}
	.ac-container > :checked + label + * {
		overflow: auto;
		height: auto;
		padding-bottom: 30px !important;
	}
	.ac-container > :checked + label {
	  background: #fff;
	  cursor: pointer;
	}
	.payment-id0 {
		padding: 10px;
	}
	.payment-id1 {
		padding: 10px;
	}
	.payment-id2 {
		padding: 10px;
	}
	.payment-id3 {
		padding: 10px;
	}
	.payment-id4 {
		padding: 10px;
	}
	.payment-id5 {
		padding: 10px;
	}
}