
#cm-slider {
	margin-left:10%;
	width: 80%;
	overflow: hidden;
	position: relative;
    /*margin: 0;*/
    background: #eee;
}

#cm-slider a {
	text-decoration: none;
}

.cm-slide {
	position: absolute;
	top: 0;
	left: 100%;
	width: 100%;
	height: 100%;
	overflow: hidden;
}

.cm-slide-active,
.cm-slide-before {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	overflow: hidden;
	display: block;
}

.sl-title {
	font-size: 45px !important;
	opacity: 0;
	position: absolute;
	overflow: hidden;
	color: #fff;
	font-weight: 300;
}

.sl-descr {
	opacity: 0;
	position: absolute;
	overflow: hidden;
	color: #fff;
	font-weight: 200;
	line-height: 1.4em;
}

.sl-button {

background: #fff;
    color: #000;
	opacity: 0;
	position: absolute;
	display: inline-block;
	/*color: #fff;*/
    border: solid 2px #fff;
	/*background: none;*/
	border-radius: 30px;
    cursor: pointer;
    font-weight: 500;
    transition: background 0.3s, color 0.3s;
    -webkit-transition: background 0.3s, color 0.3s;
    -moz-transition: background 0.3s, color 0.3s;
    -ms-transition: background 0.3s, color 0.3s;
    -o-transition: background 0.3s, color 0.3s;
}

.sl-button:hover {
    /*background: #fff;*/
    color:#fff;;
	 background: linear-gradient(to bottom, #21afe4 0%,#006fcb 100%); 
}

.sl-button a {
	text-decoration: none;
}

.sl-img {
	opacity: 0;
	position: absolute;
}

#slide-manage {
	position: absolute;
	bottom: 10px;
	width: 100%;
	display: inline-block;
	line-height: 30px;
	text-align: center;
}

.cm-slide-button {
	display: inline-block;
	margin: 3px 6px;
	width: 8px;
	height: 8px;
	border-radius: 10px;
	background: #fff;
}

.cm-slide-button:hover {
	cursor: pointer;
}

.cm-slide-button-active {
	width: 14px;
	height: 14px;
	margin: 0 4px;
	background: #fff;
}

.cm-slide-button-active:hover {
	cursor: default;
}

#cm-next-slide {
	position: absolute;
	top: 50%;
	right: 15px;
	width: 24px;
	height: 42px;
	margin-top: -21px;
	cursor: pointer;
	background: url(images/prew_next.png) no-repeat right top;
	opacity: 0;
	transition: all 0.2s;
    -webkit-transition: all 0.2s;
    -moz-transition: all 0.2s;
    -ms-transition: all 0.2s;
    -o-transition: all 0.2s;
}

#cm-prew-slide {
	position: absolute;
	top: 50%;
	left: 15px;
	width: 24px;
	height: 42px;
	margin-top: -21px;
	cursor: pointer;
	background: url(images/prew_next.png) no-repeat left top;
	opacity: 0;
	transition: all 0.2s;
    -webkit-transition: all 0.2s;
    -moz-transition: all 0.2s;
    -ms-transition: all 0.2s;
    -o-transition: all 0.2s;
}

#cm-next-slide:active,
#cm-prew-slide:active {
	transform: scale(1.1);
	-webkit-transform: scale(1.1);
	-moz-transform: scale(1.1);
	-ms-transform: scale(1.1);
	-o-transform: scale(1.1);
}

#cm-slider:hover #cm-next-slide,
#cm-slider:hover #cm-prew-slide {
	opacity: 1;
}

@media (max-width: 960px) {

	#cm-next-slide,
	#cm-prew-slide {
		opacity: 1;
	}

}

@media (max-width: 480px) {

	#cm-prew-slide {
		left: 5px;
	}

	#cm-next-slide {
		right: 5px;
	}

}