.jshowoff {
  behavior: url(js/PIE.htc);
  position: relative;
  border-top: 10px solid #a00;
  overflow: hidden;
  height: 353px;
  -moz-box-shadow: 0 2px 3px #000;
  -webkit-box-shadow: 0 2px 3px #000;
  -o-box-shadow: 0 2px 3px #000;
  -ms-box-shadow: 0 2px 3px #000;
  box-shadow: 0 2px 3px #000; }
  .jshowoff #slider {
    position: relative; }
  .jshowoff #slider div {
    position: absolute;
    left: 0;
    top: 0; }

.jshowoff-slidelinks {
  position: absolute;
  bottom: 16px;
  right: 20px;
  z-index: 4;
  text-align: right;
  margin: 0; }
  .jshowoff-slidelinks a, .jshowoff-slidelinks span {
    display: inline-block;
    margin: 0px 2px 0;
    width: 10px;
    height: 10px;
    behavior: url(js/PIE.htc);
    position: relative;
    border-radius: 10px;
    background: #fff;
    cursor: pointer;
    text-indent: 100%;
    overflow: hidden;
    outline: 0;
    border: 2px solid #6f6963; }
  .jshowoff-slidelinks a:hover, .jshowoff-slidelinks span:hover {
    outline: 0;
    background: #fede3d; }
  .jshowoff-slidelinks a.jshowoff-1-active, .jshowoff-slidelinks span.jshowoff-1-active, .jshowoff-slidelinks a.jshowoff-active, .jshowoff-slidelinks span.jshowoff-active {
    background: #fede3d; }