.bx-auth-serv-icons a {
	background-image:url('soc-sprite.png'); 
	width:32px; height:32px; 
	background-repeat:no-repeat; 
	opacity: 0.3; 
	display:inline-block;
	margin:0 !important; 
}

.bx-auth-serv-icons a.vkontakte { background-position: 0 0; }
.bx-auth-serv-icons a.facebook { background-position: -40px 0; }
.bx-auth-serv-icons a.odnoklassniki { background-position: -79px 0; }

.bx-auth-serv-icons a:hover{ opacity:1; border:0 !important; margin:0 !important; }

/* .bx-auth-serv-icons a:hover.vkontakte { background-position: 0 -39px; } */
/* .bx-auth-serv-icons a:hover.facebook { background-position: -40px -39px; }
.bx-auth-serv-icons a:hover.odnoklassniki {  background-position: -81px -39px; } */

body:not(.is-admin) .bx-core-adm-dialog{ z-index:9999 !important }

.bx-auth-serv-icons a.google {background-position:-239px 0px ;}
.bx-auth-serv-icons a.yandex {background-position:-200px 0px ;}
.bx-auth-serv-icons a.twitter {background-position:-120px 0px ;}
.bx-auth-serv-icons a.openid-mail-ru {background-position:-159px 0px ;}


/*
.openid {background-position:0px -192px;}
.yandex {background-position:0px 0px;}
.openid-mail-ru {background-position:0px -48px;}
.livejournal {background-position:0px -16px;}
.liveinternet {background-position:0px -128px;}
.blogger {background-position:0px -144px;}
.rambler {background-position:0px -160px;}
.liveid {background-position:0px -176px;}
.facebook {background-position:0px -32px;}
.twitter {background-position:0px -96px;}
.vkontakte { background-position: 0 0; }
.mymailru {background-position:0px -64px;}
.google {background-position:0px -112px;}
.google-plus {background-position:0px -112px;}
.odnoklassniki {background-position:0px -208px;}
.bitrix24 {background-position:0px -378px}
.dropbox {background-position:0px -504px}
.box {background-position:0px -520px}
.office365 {background-position:0px -559px}
*/
