.bx-filter.bx-green .bx-filter-section {
	background: transparent;
}
/*
* INPUTS
*
*/
.bx-filter.bx-green .bx-filter-input-container input:focus {
	border-color: #3BC915;
}
.bx-retina .bx-filter.bx-green .bx-filter-input-container input:focus {
	-webkit-border-image: url(images/active.png) 2 repeat;
	-moz-border-image: url(images/active.png) 2 repeat;
	-o-border-image: url(images/active.png) 2 repeat;
	border-image: url(images/active.png) 2 repeat;
}
/*
*Track
*
*/
.bx-filter.bx-green .bx-ui-slider-track{background: #e7e7e7;}
.bx-filter.bx-green .bx-ui-slider-pricebar-vd{background: #9f9f9f;}
.bx-filter.bx-green .bx-ui-slider-pricebar-vn{background: rgba(143, 0, 0, 0.14);}
.bx-filter.bx-green .bx-ui-slider-pricebar-v {background: #99583d;}

/*
*	Select
*
*/
.bx-filter.bx-green .bx-filter-select-container.bx-active,
.bx-filter.bx-green .bx-filter-select-container:focus {
	border-color: #3BC915;
}
.bx-retina .bx-filter.bx-green .bx-filter-select-container.bx-active,
.bx-retina .bx-filter.bx-green .bx-filter-select-container:focus {
	-webkit-border-image: url(images/active.png) 2 repeat;
	-moz-border-image: url(images/active.png) 2 repeat;
	-o-border-image: url(images/active.png) 2 repeat;
	border-image: url(images/active.png) 2 repeat;
}
/*
*	Select popup
*
*/
/*
* TAGS
*
*/
.bx-filter.bx-green .bx-filter-tag {
	border-top: 1px solid #c6eabc;
	border-bottom: 1px solid #c6eabc;
}
.bx-filter.bx-green .bx-tag-link {
	color: #3bc915;
}
/*
*	LABEL
*
*/
/*
*	Checkbox / Radio 
*
*/
/*
* 	BTN 
*
*/
.bx-filter.bx-green .bx-filter-param-label.bx-active .bx-filter-param-btn,
.bx-filter.bx-green .bx-filter-param-btn:hover,
.bx-filter.bx-green .bx-filter-param-btn:active,
.bx-filter.bx-green .bx-filter-param-btn:focus {
	border-color: #3BC915;
}
.bx-retina .bx-filter.bx-green .bx-filter-param-label.bx-active .bx-filter-param-btn,
.bx-retina .bx-filter.bx-green .bx-filter-param-btn:hover,
.bx-retina .bx-filter.bx-green .bx-filter-param-btn:active,
.bx-retina .bx-filter.bx-green .bx-filter-select-container:focus {
	-webkit-border-image: url(images/active.png) 2 repeat;
	-moz-border-image: url(images/active.png) 2 repeat;
	-o-border-image: url(images/active.png) 2 repeat;
	border-image: url(images/active.png) 2 repeat;
}
/*
* BTN P/M
*
*/
/*
*	icon
*
*/
/*
* 	BIZ
*
*/
/*
*	BTN result and reset 
*
*/
.bx-filter.bx-green .btn-themes {
	background-color: #3bc915;
	border-color: #3bc915;
	color: #FFF
}
.bx-filter.bx-green .btn-themes.bx-active,
.bx-filter.bx-green .btn-themes.focus,
.bx-filter.bx-green .btn-themes:active,
.bx-filter.bx-green .btn-themes:focus,
.bx-filter.bx-green .btn-themes:hover{
	background-color: #30d404;
	border-color: #30d404;
	color: #FFF
}
/*
* 	Result Popup
*
*/