.reviews-list{
	color: #402f2b;
}


.reviews-block{
	background-color:#fff;
	margin-bottom:30px;
	padding:20px 0;
}

.reviews-block .fa.fa-comments{
	font-size: 60px;
    margin: auto;
    display: block;
    width: 60px;
}

.reviews-block-title{
	font-family: 'museo_cyrl700';
    font-size: 24px;
}

.reviews-block-text{
	/*font-family: 'museo_cyrl500';*/
}