.cat-menu ul
{
	margin: 0;
	padding: 0;
	list-style: none;
	width: 214px;
	font-size:12px;
}

/*Submenu box*/
.cat-menu li ul
{
	position:absolute;
	/*top:-999em;*/
	top:auto;
	display:none;
	z-index:500;
	height:auto;
	border:1px solid #C1C1C1;
	border-bottom:none;
	width:200px;
}

/* Submenu Items */
.cat-menu li a
{
	display: block;
	text-decoration: none;
	color: #4F4F4F;
	font-weight:bold;
	padding: 5px;
	background:#F5F5F5;
	border-bottom:1px solid #C1C1C1;
}

/*Items selected*/
.cat-menu li a.item-selected
{
	background-color: #D6D6D6;
}

/*Items Hover */
.cat-menu li a:hover
{
	background-color: #D6D6D6;
}

/*Rootmenu Items*/
.cat-menu a.root-item
{
	color: #775549;
    font-weight: bold;
    font-size: 15px;
    padding: 5px 0 7px 35px;
	border:none;
	box-sizing:border-box;
	-moz-box-sizing:border-box;
	/*height:26px;
	overflow:hidden;*/
}

/*Rootmenu Items hover*/
.cat-menu a.root-item:hover,  a.root-item-selected:hover
{
	color: black;
	background: #f5f5f5;
}

/*Rootmenu Items Selected*/
.cat-menu a.root-item-selected
{
	color:#fff;
	font-weight:bold;
	font-size:12px;
	padding:5px 0 7px 35px;
	background:#61656A;
	border:none;
	box-sizing:border-box;
	-moz-box-sizing:border-box;
	/*height:26px;
	overflow:hidden;*/
}


.cat-menu a .root-item-selected
{
	color:#fff;
	font-weight:bold;
	font-size:12px;
	padding:5px 0 7px 35px;
	background:#61656A;
	border:none;
	box-sizing:border-box;
	-moz-box-sizing:border-box;
}

/*Parent item*/
.cat-menu a.parent
{
	background: #F5F5F5 url(images/arrow.gif) center right no-repeat;
	padding-right:10px;
}

/*Denied items*/
.cat-menu a.denied
{
	background: #F5F5F5 url(images/lock.gif) center right no-repeat;
	color:#DDDDDD;
	padding-right:10px;
}

/* Holly Hack. IE Requirement \*/
* html ul li { float: left; height: 1%; }
* html ul li a { height: 1%; }
/* End */


/*Submenu margin*/
.cat-menu li ul.root-item
{
	margin:-27px 0 0 210px;
}

.cat-menu li ul
{
	margin:-27px 0 0 133px;
}

/*Submenu hide*/
.cat-menu li:hover ul ul,
.cat-menu li.jsvhover ul ul,
.cat-menu li:hover ul ul ul,
.cat-menu li.jsvhover ul ul ul
{
	/*top:-999em;*/
	display:none;
}

/*Submenu show*/
.cat-menu li:hover ul,
.cat-menu li.jsvhover ul,
.cat-menu li li:hover ul,
.cat-menu li li.jsvhover ul,
.cat-menu li li li:hover ul,
.cat-menu li li li.jsvhover ul
{
	/*z-index:1000;
	top:auto;*/
	display:block;
}



.cat-menu .list-group{
	border: 1px solid rgba(0, 0, 0, 0) !important;
}

.cat-menu .list-group a{
	color: #330000 !important;
  background: #fff !important;
  border: none;
  text-align: center;
  font-family: "Open Sans", Arial, "Helvetica Neue", Helvetica, sans-serif;
  font-size:14px;
}

.cat-menu .list-group a.active{
	font-weight:bold;
}

.cat-menu .list-group a:first-child{
	padding-top: 25px;
}

.cat-menu .list-group a:last-child{
	padding-bottom: 25px;
}