.ys-user-basket .txt, textarea {
    border: 1px solid #000000 !important;
}


.ys-user-basket a, .ys-user-basket .sitemap li.expanded li a span { color:#35ab01; border-color: #afe996; }
.ys-user-basket a:hover, .ys-user-basket .sitemap li.expanded li a:hover span { color: #319fe4; border-color: #b5def8; }

.ys-user-basket a {
    border-bottom: 1px solid !important;
    outline: medium none !important;
    text-decoration: none !important;
}

.ys-user-basket .txt:focus, .ys-user-basket textarea:focus {
    border-color: #35AB01 !important;
}

.ys-user-basket .button, .ys-user-basket .button1,  .ys-user-basket .button2, .ys-user-basket .button3, .ys-user-basket .button4, .ys-user-basket .button5, .ys-user-basket .button7, .ys-user-basket .button8, .ys-user-basket .button9, .ys-user-basket .button13, .ys-user-basket .button14 {
	background-color: #35ab01;
	background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #7ce331), color-stop(100%, #35ab01));
	background-image: -webkit-linear-gradient(top, #7ce331, #35ab01);
	background-image: -moz-linear-gradient(top, #7ce331, #35ab01);
	background-image: -ms-linear-gradient(top, #7fbf4d, #63a62f);
	background-image: -o-linear-gradient(top, #7fbf4d, #63a62f);
	background-image: linear-gradient(top, #7fbf4d, #63a62f);
	border: 1px solid #35ab01;
	-webkit-box-shadow: 0 2px 0 0 #e5e5e5;
	-moz-box-shadow: 0 2px 0 0 #e5e5e5;
	box-shadow: 0 1px 0 0 #d6f757 inset, 0 2px 0 0 #e5e5e5;
	color: #fff !important;
	text-shadow: 0 -1px 0 #15a700;
}

.ys-user-basket .button:hover, .ys-user-basket .button1:hover, .ys-user-basket .button2:hover, .ys-user-basket .button3:hover, .ys-user-basket .button4:hover, .ys-user-basket .button5:hover, .ys-user-basket .button7:hover, .ys-user-basket .button8:hover, .ys-user-basket .button9:hover, .ys-user-basket .button13:hover, .ys-user-basket .button14:hover {
	background: #5ac81a; box-shadow: 0 1px 0 0 #99ef2c inset, 0 2px 0 0 #e5e5e5;
}
.ys-user-basket .button:active,.ys-user-basket .button1:active,.ys-user-basket .button2:active,.ys-user-basket .button3:active,.ys-user-basket .button4:active,.ys-user-basket .button5:active,.ys-user-basket .button7:active,.ys-user-basket .button8:active,.ys-user-basket .button9:active,.ys-user-basket .button13:active,.ys-user-basket .button14:active {
  	background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #118400), color-stop(100%, #7ce331));
	background-image: -webkit-linear-gradient(top, #118400, #7ce331);
	background-image: -moz-linear-gradient(top, #118400, #7ce331);
	background-image: -ms-linear-gradient(top, #118400, #7ce331);
	background-image: -o-linear-gradient(top, #118400, #7ce331);
	background-image: linear-gradient(top, #118400, #7ce331);
}


.ys_tab_nav {padding-left: 0 !important;}
.ys_tab_nav li a {
    background: url("images/tv_pager_bg.png") no-repeat left center transparent !important;
    border: medium none !important;
    padding: 6px !important;
    text-decoration: none !important;
	border: none !important;
	color: #000 !important;
	
}

.ys_tab_nav li input {display: none;}

.ys_tab_nav li a.ys_active {
    background: url("images/tv_pager_active.png") no-repeat left center transparent !important;
}
.ys_tab_nav li a:hover {
    background: url("images/tv_pager_hover.png") no-repeat left center transparent !important;
	color: #000 !important;
}
.ys_tab_nav li{ list-style-type: none; border: none !important;}