.ys-user-basket .txt, textarea {
    border: 1px solid #c0c0c0 !important;
}

.ys-user-basket a, .ys-user-basket .sitemap li.expanded li a span {
color:#57758a; border-color: #a0b1bd;
}

.ys-user-basket a:hover,.ys-user-basket .sitemap li.expanded li a:hover span { color: #383e46; border-color: #8f9297; }

.ys-user-basket a {
    border-bottom: 1px solid !important;
    outline: medium none !important;
    text-decoration: none !important;
	
}

.ys-user-basket .txt:focus, .ys-user-basket textarea:focus {
    border-color: #000000 !important;
}

.ys-user-basket .button, .ys-user-basket .button1,  .ys-user-basket .button2, .ys-user-basket .button3, .ys-user-basket .button4, .ys-user-basket .button5, .ys-user-basket .button7, .ys-user-basket .button8, .ys-user-basket .button9, .ys-user-basket .button13, .ys-user-basket .button14 {
	background-color: #6e7278;
    background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #a6a9ac), color-stop(100%, #6e7278));
    background-image: -webkit-linear-gradient(top, #a6a9ac, #6e7278);
    background-image: -moz-linear-gradient(top, #a6a9ac, #6e7278);
    background-image: -ms-linear-gradient(top, #a6a9ac, #6e7278);
    background-image: -o-linear-gradient(top, #a6a9ac, #6e7278);
    background-image: linear-gradient(top, #a6a9ac, #6e7278);
    border: 1px solid #878a8e;
    box-shadow: 0 1px 0 0 #dcddde inset;
    color: #fff !important;
    text-shadow: 0 -1px 0 #383e46;
	-ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr='#a6a9ac', endColorstr='#6e7278')";
}

.ys-user-basket .button:hover, .ys-user-basket .button1:hover, .ys-user-basket .button2:hover, .ys-user-basket .button3:hover, .ys-user-basket .button4:hover, .ys-user-basket .button5:hover, .ys-user-basket .button7:hover, .ys-user-basket .button8:hover, .ys-user-basket .button9:hover, .ys-user-basket .button13:hover, .ys-user-basket .button14:hover {
	background: #8e9195;
	box-shadow: 0 1px 0 0 #dcddde inset;
}
.ys-user-basket .button:active,.ys-user-basket .button1:active,.ys-user-basket .button2:active,.ys-user-basket .button3:active,.ys-user-basket .button4:active,.ys-user-basket .button5:active,.ys-user-basket .button7:active,.ys-user-basket .button8:active,.ys-user-basket .button9:active,.ys-user-basket .button13:active,.ys-user-basket .button14:active {
 	background-color: #ffb400;
    background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #74787d), color-stop(100%, #a6a9ac));
    background-image: -webkit-linear-gradient(top, #74787d, #a6a9ac);
    background-image: -moz-linear-gradient(top, #74787d, #a6a9ac);
    background-image: -ms-linear-gradient(top, #74787d, #a6a9ac);
    background-image: -o-linear-gradient(top, #74787d, #a6a9ac);
    background-image: linear-gradient(top, #74787d, #a6a9ac);
    box-shadow: inset 2px 2px 5px 1px #4d5259 !important;
	-ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr='#74787d', endColorstr='#a6a9ac')";
}


.ys_tab_nav {padding-left: 0 !important;}
.ys_tab_nav li a {
    background: url("images/tv_pager_bg.png") no-repeat left center transparent !important;
    border: medium none !important;
    padding: 6px !important;
    text-decoration: none !important;
	border: none !important;
	color: #000 !important;
	
}

.ys_tab_nav li input {display: none;}

.ys_tab_nav li a.ys_active {
    background: url("images/metal_tv_pager_active.png") no-repeat left center transparent !important;
}
.ys_tab_nav li a:hover {
    background: url("images/metal_tv_pager_hover.png") no-repeat left center transparent !important;
	color: #000 !important;
}
.ys_tab_nav li{ list-style-type: none; border: none !important;}