.products-items .card-product__a{
	max-width:100%;
}

.ln2header .dropdown {
	display:none;
}


/*стили только для IE10 IE11*/
@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
	#top_menu .bx-nav-list-1-lvl li {
		width: 25%;
		text-align: center;
	}
	.visible-lg-block {
    	display: block;
	}
	.flexible {
		display: -ms-flexbox;
	}
	.cart-count {
		display: block;
		max-width: 80%;
		height: 22px;
		font-size: 13px;
		background: #99583d;
		color: #fff;
		border-radius: 50%;
		text-align: center;
		line-height: 24px;
		margin-left: 12px;
		margin-top: -12px;
	}
	.bx-inclogofooter-tel .h3 {
		font-weight: bolder;
		font-size: 21px !important;
	}
	.bx-top-nav-container .bx-nav-2-lvl > a{
		font-family: 'museo_cyrl300';
		font-weight: 400;
	}
	@font-face {
		font-family: "museo_cyrl100"; 
		src: url("/bitrix/fonts/museo_sans_cyrl_100.ttf") format("truetype"); 
		font-style: normal; 
		font-weight: normal; 
	}
	.bx-top-nav-container .bx-nav-2-lvl > a > span{
		font-family: "museo_cyrl100";
	}	
	.btn {
		font-family: "museo_cyrl500";
	}
	.cat-menu .list-group a.active {
		font-family: 'museo_cyrl100';
	}
	.bx-filter .bx-filter-parameters-box-title {
    		font-family: "museo_cyrl100";
	}
	.flexible.vcenter {
		padding-left: 0px;
	}
}

@media screen and (max-width: 1200px){
	.ln2header .dropdown{
		display:block;
	}
}

@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) and (max-width: 1200px){
	.visible-lg-flex {
		display: none !important;
	}
	.hamburger {
		width: 20px;
	}
	.bx-logo .bx-logo-block {
		margin-bottom: 10px;
	}

}

@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) and (max-width: 991px){
	.bx-basket-fixed {
		position: relative;
	}
}
	
@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) and (max-width: 970px){
	.col-md-2{
			max-width:160px;
	}
	.bx-searchtitle {
		margin-left: 20px;
	}
	.bx-searchtitle .bx-input-group {
		margin-left: 10px;
		width: auto;
	}
}

@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) and (max-width: 767px){
	.bx-header-section .flexible .col-md-2.hidden-lg {
		width: 200px;
		position: absolute;
		left: 50%;
		top: -70px;
		margin-left: -100px;
	}
	body.bx-theme-green .bx-logo {
		background: transparent !important;
		position: relative !important;
	}
	.bx-logo .bx-logo-block {
		text-align: center;
		height: 30px;
	}
	.bx-logo-block img {
		position: absolute;
		left: 0;
		top: 0;
		margin-left: auto;
		margin-right: auto;
	}
	.catalog-top {
		position: fixed;
		padding-left: 0;
		left: 0;
		top: 0px !important;
		z-index: 9991;
	}
	#mobileCategoryDropdown {
		border: 1px solid #330000 !important;
		text-indent: -1000px;
		width: 50px;
		height: 49px;
		padding: 12px 10px;
	}
	.dropdown.open .category-menu {
		opacity: 1;
		-webkit-transition: opacity .25s ease-in-out;
		-moz-transition: opacity .25s ease-in-out;
		-ms-transition: opacity .25s ease-in-out;
		-o-transition: opacity .25s ease-in-out;
		transition: opacity .25s ease-in-out;
	}
	.open>.dropdown-menu {
		height: 400px;
		overflow: auto;
	    display: block;
	}
	.hamburger {
    	width: 25px;
		right:13px;
	}
	.open .bx-top-nav-container {
		height: auto !important;
	}
	.bx-top-nav-container {
		display: block !important;
		overflow: hidden;
	}
	.bx-top-nav-container .bx-nav-1-lvl>a {
		padding: 5px;
	}	
	.bx-top-nav-container .bx-nav-2-lvl-container {
		position: static !important;
		padding-left: 15px;
	}
	.category-menu-title {
		padding-left: 30px;
	}
	.txt-mob-header {
		display: block !important;
		position: absolute;
		width: 100%;
		text-align: center;
		padding: 5px 0;
		color: #330000;
		font-size: 14px;
		font-family: 'museo_cyrl500';
	}
	.bx-header-section .flexible {
		display: block;
	}
	.bx-top-nav-container {
		display: block !important;
		height: 41px;
		overflow: hidden;
	}
	#top_menu .bx-top-nav-container .bx-nav-1-lvl>a {
		text-align: left;
	}
	.bx-header-section .flexible {
		display: block;
	}
	#top_menu {
		width: 88%;
		position: absolute;
		z-index: 99;
		left: 0;
		top: 155px;
		background-color: #fff;
	}
	.bx-header-section .flexible {
		display: block;
	}
	.btn-callback {
		position: absolute;
		right: 0;
		top: 55px;
		width: 50%!important;
	}
	.bas-content {
		position: absolute;
		left: 0;
		top: 55px;
		width: 55% !important;
	}
	.bx-searchtitle .bx-input-group {
		width: 100%;
	}
	.bx-header-section {
		padding: 60px 15px 10px;
	}
	.bx-header-section {
		padding-bottom: 159px !important;
	}
	.panel-geoip {
		position: absolute;
		left: 0;
		top: 110px;
		width: 50%;
		text-align: center;
	}
	.panel-log {
		position: absolute;
		right: 0;
		top: 111px;
		width: 52%;
	}	
	.oform {
		display: none !important;
	}
	.col-md-2{
			max-width:100%;
	}
	#bx_basketFKauiI {
		position: fixed;
		background: #fff !important;
		width: 50px;
		height: 49px;
		box-shadow: none;
		top: 0px !important;
		z-index: 9991;
		right: 0;
		left: auto;
		padding-right: 7px;
		padding-top: 6px;
		border: 1px solid #330000 !important;
	}
	#bx_basketFKauiI .cart-header-price {
		display: none;
	}
	.kavin {
		display: block !important;
		padding: 0;
	}
	.kavin .navbar {
		margin-top: -37px;
		padding-top: 37px;
		position: absolute;
		left: 0;
		width: 100%;
		z-index: 9;
	}
	.navbar {
		min-height: 42px;
	}
	.kavin .navbar-toggle {
		position: absolute;
		z-index: 991;
		top: 0;
		margin: 0;
		right: 0;
		border: none;
		padding: 10px;
	}
	#main_menu {
		padding-top: 38px;
	}
	.navbar-default .navbar-collapse, .navbar-default .navbar-form {
		border: none;
	}
	.bx-header-section {
		padding-bottom: 159px !important;
	}
	.kavin .navbar-toggle span {
		display: none;
	}
	toggle span {
		display: none;
	}
	#main_menu > .navbar-nav {
		display: block;
		margin-left: 0;
		margin-right: 0;
	}	
	.kavin .navbar-toggle::before {
		content: "ЕЩЕ";
		font-size: 12px;
		color: rgb(92, 68, 64);
		font-weight: 700;
		font-family: "Helvetica Neue", Arial, Helvetica, sans-serif;
	}
	#top_menu .bx-top-nav-container {
		margin-top: -12px;
	}
	.pay_block img {
		margin-left: auto;
		margin-right: auto;
	}

}



