.bx-header-section{
	position:relative;
}
.bx-header-section:before{
	background: url(../img/new-year-uchef/uchef_snowflakes_header.png);
    background-repeat: no-repeat;
    background-position: left;
    background-size: contain;
    width: 100%;
    top: -20px;
    position: absolute;
    height: 81px;
    z-index: 0;
    content: "";
}

.bx-input-group{
	position:relative !important;
}
.bx-input-group:after{
    background: url(../img/new-year-uchef/uchef_icicles.png);
    background-repeat: repeat-x;
    background-position: left;
    background-size: contain;
    width: 100%;
    top: 20px;
    left: 0px;
    position: absolute;
    height: 61px;
    z-index: 0;
    content: "";
}

div[class^="col-"].bx-input-group:after{
	margin-left:15px;
	width:calc(100% - 30px);
	top: 100%;
}


.bx-footer{
	position:relative !important;
}
.bx-footer:before{
    background: url(../img/new-year-uchef/uchef_snowflakes_footer.png);
    background-repeat: no-repeat;
    background-position: left;
    background-size: contain;
    width: 100%;
    top: 0px;
    left: 0px;
    position: absolute;
    height: 320px;
    z-index: 0;
    content: "";
}
.bx-footer:after{
    background: url(../img/new-year-uchef/uchef_snow_footer.png);
    background-repeat: no-repeat;
    background-position: left;
    background-size: contain;
    width: 100%;
    bottom: -5px;
    left: 0px;
    position: absolute;
    height: 60px;
    z-index: 0;
    content: "";
}


/*---------------*/

@media only screen and (min-width: 1025px)and (max-width: 1201px){
	.bx-input-group:after {
		top: 13px;
		z-index: 3;


	}
}
@media only screen and (min-width: 992px)and (max-width: 1024px){
	.bx-input-group:after {
		top: 12px;
		z-index: 3;
	}
	.bx-footer:after{
		bottom: -15px;
	}
	.bx-footer:before {
		background-size: cover;
	}
}
@media only screen and (min-width: 768px)and (max-width: 991px){
	.bx-input-group:after {
		top: 13px;
		z-index: 3;
		height:50px;
	}
	.bx-footer:before {
		background-size: cover;
	}
	.bx-footer:after{
		bottom: -15px;
	}
}
@media only screen and (max-width: 767px) {
	.bx-footer:after{
		display:none;
	}
	.bx-footer:before{
		display:none;
	}
	.bx-footer:before {
		background-size: cover;
	}
}
@media only screen and (min-width: 655px)and (max-width: 767px){
	.bx-input-group:after {
		top: 27px;
		z-index: 3;
		height: 40px;
	}
}
@media only screen and (min-width: 425px)and (max-width: 654px){
	.bx-input-group:after {
		top: 21px;
		z-index: 3;
		height: 40px;
	}
}
@media only screen and (min-width: 320px)and (max-width: 424px){
	.bx-input-group:after {
		top: 18px;
		z-index: 3;
		height: 40px;
	}
}
@media only screen and (max-width: 319px) {
	.bx-input-group:after {
		top: 18px;
		z-index: 3;
		height: 40px;
	}
}