.bx-pagination {
	margin: 10px 0;
}
.bx-pagination .bx-pagination-container {
	text-align: center;
	position: relative;
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	justify-content: flex-end;
	align-items: center;
}
.bx-pagination .bx-pagination-container ul:not(.dropdown-menu) {
	padding: 0;
	margin: 0;
	list-style: none;
	display: inline-block;
	padding-top: 8px;
}
.bx-pagination .bx-pagination-container ul:not(.dropdown-menu) li {
	display: inline-block;
	margin: 0 2px 0px 2px;
}
.bx-pagination .bx-pagination-container ul:not(.dropdown-menu) li span{
    -webkit-transition: color .3s ease, background-color .3s ease, border-color .3s ease;
       -moz-transition: color .3s ease, background-color .3s ease, border-color .3s ease;
    	-ms-transition: color .3s ease, background-color .3s ease, border-color .3s ease;
    	 -o-transition: color .3s ease, background-color .3s ease, border-color .3s ease;
    		transition: color .3s ease, background-color .3s ease, border-color .3s ease;
	background: #fff;
	padding: 0;
	display: block;
	    height: 20px;
    min-width: 20px;
    width: 20px;
    line-height: 20px;
	color: #444;
	font-size: 14px;
	border-radius: 0px;
	vertical-align: middle;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}
.bx-pagination .bx-pagination-container ul:not(.dropdown-menu) li a {
	text-decoration: none;
	display: block;
	border-radius: 0;
	height: 24px;
	min-width: 24px;
	line-height: 24px;
	color: #330000;
	vertical-align: middle;
}
.bx-pagination .bx-pagination-container ul:not(.dropdown-menu) li a:hover span{
	background: #DADADA;
}
.bx-pagination .bx-pagination-container ul:not(.dropdown-menu) li.bx-active span{
	background: #802626;
	color: #fff;
}
.bx-pagination .bx-pagination-container ul:not(.dropdown-menu) li.bx-pag-all a span,
.bx-pagination .bx-pagination-container ul:not(.dropdown-menu) li.bx-pag-prev a span,
.bx-pagination .bx-pagination-container ul:not(.dropdown-menu) li.bx-pag-next a span {
	background: transparent;
	color: #330000;
}
.bx-pagination .bx-pagination-container ul:not(.dropdown-menu) li.bx-pag-all span,
.bx-pagination .bx-pagination-container ul:not(.dropdown-menu) li.bx-pag-prev span,
.bx-pagination .bx-pagination-container ul:not(.dropdown-menu) li.bx-pag-next span{
	background: transparent;
	color: #330000;
}
.bx-pagination .bx-pagination-container ul:not(.dropdown-menu) li.bx-pag-all a:hover span,
.bx-pagination .bx-pagination-container ul:not(.dropdown-menu) li.bx-pag-prev a:hover span,
.bx-pagination .bx-pagination-container ul:not(.dropdown-menu) li.bx-pag-next a:hover span {
	background: #fff;
	border-color: #DADADA;
	color: #000;
}

/*color schemes*/
.bx-pagination.bx-green  .bx-pagination-container ul:not(.dropdown-menu) li.bx-active span{
	background: #802626;
	color: #fff;
}
.bx-pagination.bx-yellow  .bx-pagination-container ul:not(.dropdown-menu) li.bx-active span{
	background: #F9A91D;
	color: #fff;
}
.bx-pagination.bx-red  .bx-pagination-container ul:not(.dropdown-menu) li.bx-active span{
	background: #E22B2B;
	color: #fff;
}
.bx-pagination.bx-blue .bx-pagination-container ul:not(.dropdown-menu) li.bx-active span{
	background: #0083d1;
	color: #fff;
}

