.cat-menu {
	-webkit-transition: all .1s ease;
	   -moz-transition: all .1s ease;
	    -ms-transition: all .1s ease;
	     -o-transition: all .1s ease;
	        transition: all .1s ease;
}
span.ic svg {
	width: 13px;
    position: absolute;
    left: -10px;
    top: 50%;
    transform:translateY(-50%);
    color: #333;
}

.callback-form {
	max-width: 100% !important;
	width:800px;
	max-height:100% !important;
	overflow: auto !important;
	transform:translate(-50%, -50%);
	padding:20px;
}

.callback-form .close{
	display:none;
	z-index: 99999;
    position: absolute;
    right: 30px;
	font-size: 30px;
}

@media (max-width:767px){
	.callback-form .close{
		display:initial;
	}
}



.callback-form .wrap {
	max-width: 550px;
    margin-left: auto;
    margin-right: auto;
}
.callback-form .width-w {
	max-width: 100%;
}

.callback-form .left,
.callback-form .right {
	text-align: center;
    display: flex;
    flex-flow: wrap;
    justify-content: center;
}
.callback-form .right {
	text-align: left !important;
}
.callback-form .button-panel {
	display: block;
}
.callback-form .input {
	width: 100%;
	position: relative;
}
.error {
	color: red;
}
.callback-form .left .input {
	width: 190px;
	margin-bottom: 25px;
	margin-left: auto;
	margin-right: auto;
	line-height: 1;
}

.callback-form .right .input textarea {
	background: transparent;
	height: 225px;
	border: 1px solid #dadada;
	font-size: 14px;
	padding: 4px 15px;
}
.callback-form .titles-leader {
	margin-top: 0px;
    margin-bottom: 30px;
}

.radio::before {
	content: "";
	position: absolute;
	left: 0;
	top: 0;
	width: 12px;
	height: 12px;
	border: 1px solid #330000;
	border-radius: 50%;
}

.radio.active::after {
    content: "";
    position: absolute;
    left: 2px;
    top: 2px;
    width: 8px;
    height: 8px;
    border: 1px solid #330000;
    background: #330000;
    border-radius: 50%;
}
.radio.not(.active)::after {
	display: none;
}
.radio input[type="radio"] {
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	z-index: 1;
	opacity: 0;
}

.callback-form label {
    display: inline-block;
    max-width: 100%;
    margin-bottom: 5px;
    font-weight: normal;
    font-family: 'museo_cyrl300';
    color: #330000;
}

.titles-leader {
    font-size: 20px;
    text-align: center;
    color: #330000;
    font-family: 'museo_cyrl500';
    margin-top: 30px;
}

@media (max-width:767px){#bx-panel{display:none !important}}

#ReaspektPopupBody {
	text-align: center;
	background: #fff !important;
	padding: 60px 50px;
}

#ReaspektPopupBody #ReaspektCloseBtn {
	display: none;
}

#ReaspektPopupBody .reaspekt_col-sm-4 {
	width: 100%;
}

#reaspektGeobaseSearch {
	background: #fff;
	border: 1px solid #DADADA;
}
.bx-basket-item-list-items {
	padding: 0 15px;
}

.bx-basket-item-list-items .bx-basket-item-list-item-name {
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	align-items: center;
	font-family: 'museo_cyrl500';
	    
}

.questionYourCityReaspekt span {
	font-weight: 100;
}

.wrapQuestionReaspekt {
	left: -150%;
	min-width: 220px;
	text-align: center;
	border: 1px solid #402f2b;
	padding: 5px 10px 10px;
	border-radius: 0;
	box-shadow: 0 2px 7px 1px rgba(0, 0, 0, .3);
}
.wrapQuestionReaspekt:before {
	border: none;
	right: 20%;
	width: 13px;
	height: 14px;
	background: url(images/arrow_geo.png);
}

.questionButtonReaspekt div {
	background: transparent;
	background-color: #fff !important;
	font-weight: bold;
	color: #402f2b;
	font-family: 'museo_cyrl500';
	border: none;
}

.questionNoReaspekt.full {
	width:100%;
	text-align:center;
}

#reaspektGeobaseSearch::-webkit-input-placeholder { /* Chrome/Opera/Safari */
  color: #AEAEAE;
}
#reaspektGeobaseSearch::-moz-placeholder { /* Firefox 19+ */
  color: #AEAEAE;
}
#reaspektGeobaseSearch:-ms-input-placeholder { /* IE 10+ */
  color: #AEAEAE;
}
#reaspektGeobaseSearch:-moz-placeholder { /* Firefox 18- */
  color: #AEAEAE;
}

.reaspektGeobaseTitle {
	text-transform: initial;
	font-family: 'museo_cyrl500';
	font-size: 22px;
}

.bx-basket-item-list-item-remove {
	top: 0;
	background-size: 10px;
	opacity: .3;
}
.jspContainer
{
	width: 100% !important;
	overflow: hidden;
	position: relative;
}
.bx-basket-item-list-container {
	width: 100% !important;
	font-weight: bold;
	
}
.bx-basket-item-list::after {
	content: "";
	width: 100%;
	height: 50px;
	position: absolute;
	bottom: 55px;
	left: 0;
	background: linear-gradient(to bottom, rgba(255, 255, 255, .1), #fff);
}
.jspPane {
	width: 96% !important;
}

.jspPane
{
	position: absolute;
}

.jspVerticalBar
{
	position: absolute;
	top: 0;
	right: 0;
	width: 16px;
	height: 100%;
	background: red;
}

.jspHorizontalBar
{
	position: absolute;
	bottom: 0;
	left: 0;
	width: 100%;
	height: 16px;
	background: red;
}

.jspCap
{
	display: none;
}

.jspHorizontalBar .jspCap
{
	float: left;
}

.jspTrack
{
	background: #fff;
	position: relative;
}

.jspDrag
{
	width: 5px;
	background: #e6e6e6;
	border-radius: 4px;
	position: relative;
	top: 0;
	left: 5px;
	cursor: pointer;
}

.jspHorizontalBar .jspTrack,
.jspHorizontalBar .jspDrag
{
	float: left;
	height: 100%;
}

.jspArrow
{
	background: #50506d;
	text-indent: -20000px;
	display: block;
	cursor: pointer;
	padding: 0;
	margin: 0;
}

.jspArrow.jspDisabled
{
	cursor: default;
	background: #80808d;
}

.jspVerticalBar .jspArrow
{
	height: 16px;
}

.jspHorizontalBar .jspArrow
{
	width: 16px;
	float: left;
	height: 100%;
}

.jspVerticalBar .jspArrow:focus
{
	outline: none;
}

.jspCorner
{
	background: #eeeef4;
	float: left;
	height: 100%;
}

/* Yuk! CSS Hack for IE6 3 pixel bug :( */
* html .jspCorner
{
	margin: 0 -3px 0 0;
}
body {
	background: #fff;
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	overflow-x: hidden;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale
}

body.bx-opened {
	overflow: hidden;
}

.wrap,
.bx-wrap,
.bx-wrapper{
	position: relative;
}

body.bx-background-image{
	position: relative;
	background-repeat: repeat;
	background-position: top center;
	background-color: #fff;
	background-image: url("images/new_bg.png");
}

@media (min-width: 992px) and (max-width:1199px){
	body.bx-background-image{
		/*-webkit-background-size:1600px auto;
		background-size:1600px auto;*/
	}
}
@media (min-width: 768px) and (max-width: 991px){
	body.bx-background-image{
		/*-webkit-background-size:1280px auto;
		background-size:1280px auto;*/
	}
}
@media (max-width: 767px) {
	/*body.bx-background-image {
		background: none;
	}*/
}

body.bx-background-gradient{
	background: rgb(246,247,251);
	background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2Y2ZjdmYiIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiNmZmZmZmYiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
	background: -moz-linear-gradient(top, rgba(246,247,251,1) 0%, rgba(255,255,255,1) 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(246,247,251,1)), color-stop(100%,rgba(255,255,255,1)));
	background: -webkit-linear-gradient(top, rgba(246,247,251,1) 0%,rgba(255,255,255,1) 100%);
	background: -o-linear-gradient(top, rgba(246,247,251,1) 0%,rgba(255,255,255,1) 100%);
	background: -ms-linear-gradient(top, rgba(246,247,251,1) 0%,rgba(255,255,255,1) 100%);
	background: linear-gradient(to bottom, rgba(246,247,251,1) 0%,rgba(255,255,255,1) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f6f7fb', endColorstr='#ffffff',GradientType=0 );
	background-attachment: fixed;
}

.icon-empty {
	opacity: 0;
}

a {
	text-decoration: none;
}

a:active,
a:hover {
	border-color: transparent;
	text-decoration: none;
}

a,
.container {
	-webkit-transition: color .3s ease, background-color .3s ease, border-color .3s ease;
	-moz-transition: color .3s ease, background-color .3s ease, border-color .3s ease;
	-ms-transition: color .3s ease, background-color .3s ease, border-color .3s ease;
	-o-transition: color .3s ease, background-color .3s ease, border-color .3s ease;
	transition: color .3s ease, background-color .3s ease, border-color .3s ease;
}

img {
	width: auto;
	max-width: 100%;
	height: auto;
}

.bx-header {}
/*Logo*/


.bx-logo .bx-logo-block {
	display: block;
	border-bottom: none;
}

.bx-logo-text,
.bx-logo-text:hover,
.bx-logo-text:active {
	font-size: 32px;
	font-weight: 700;
	font-family: "Open Sans", "Helvetica Neue", Arial, Helvetica, sans-serif;
	color: #000;
	line-height: 37px;
	text-decoration: none;
	border: none;
	vertical-align: bottom;
}

.bx-logo-text small {
	font-size: 37px;
}

.bx-logo-desc {
	text-transform: uppercase;
	display: block;
	font-weight: 700;
	font-size: 13px;
	line-height: 10px;
	color: #b8b8b8;
}

@media (max-width: 767px) {
	.bx-logo {
		background: #1484ce;
		position: fixed;
		left: 0;
		right: 0;
		top: 0;
		z-index: 1400;
		padding: 10px 60px;
	}
	.bx-logo .bx-logo-block {
		text-align: center;
		height: 30px;
	}
	.bx-logo-text {
		font-size: 24px;
		color: #fff;
		line-height: 30px;
		vertical-align: middle;
	}
	.bx-logo-text:hover,
	.bx-logo-text:active {
		color: #fff;
	}
	.bx-logo-text small {
		font-size: 24px;
		color: #fff;
	}
	.bx-logo-desc {
		display: none;
	}
}
/* Sections */

.bx-header-section {
	/*border-left: 1px solid #eaebec;
	border-right: 1px solid #eaebec;
	padding: 28px 45px 10px;
	background: #fff;*/
}

.bx-content-seection {
	padding: 0 15px 5px;
	/*background: #fff;
	border-left: 1px solid #eaebec;
	border-right: 1px solid #eaebec;*/
}

@media (min-width: 1200px) {
	.bx-header-section {
	/*	padding: 31px 45px 10px;*/
	}
	.bx-content-seection {
		padding: 0 15px 5px;
	}
}

@media (min-width: 992px) and (max-width: 1199px) {
	.bx-header-section {
		/*padding: 31px 30px 10px;*/
	}
	.bx-content-seection {
		padding: 0 30px 5px;
	}
}

@media (min-width: 768px) and (max-width: 991px) {
	.bx-header-section {
		padding: 31px 15px 10px;
	}
	.bx-content-seection {
		padding: 0 15px 5px;
	}
}

@media (max-width: 767px) {
	.bx-header-section {
		padding: 60px 15px 10px
	}
	.bx-content-seection {
		padding: 0 15px 10px
	}
}
/* header / phone */

.bx-inc-orginfo {
	padding-left: 28px;
}

@media (max-width: 767px) {
	.bx-inc-orginfo {
		text-align: center;
		padding-bottom: 10px;
	}
}

.bx-inc-orginfo-phone {
	color: #000;
	font-size: 21px;
	font-weight: 700;
	white-space: nowrap;
	font-family: "Open Sans", "Helvetica Neue", Arial, Helvetica, sans-serif;
}

.bx-inc-orginfo-phone i {
	color: #97a1ab;
	position: relative;
	margin-left: -23px;
}

.bx-inc-orginfo-recall {}

.bx-inc-orginfo-recall a {
	color: #039be5;
	border-bottom: 1px dashed;
	font-size: 12px;
	margin-left: 2px;
}

.bx-inc-orginfo-recall a:hover {
	text-decoration: none;
	border-bottom-color: transparent;
}
/* header / worktime */

.bx-worktime {}

@media (max-width: 767px) {
	.bx-worktime {
		text-align: center;
	}
}

.bx-worktime-title {
	color: #8d8d8d;
	font-size: 12px;
}

.bx-worktime-prop {
	font-size: 13px;
	color: #000;
}

.bx-worktime-prop>span {
	white-space: nowrap;
}
/*sidebar*/

.bx-sidebar-block {
	margin-bottom: 40px;
}
.bx-block-title {
	font-family: "Open Sans", Arial, "Helvetica Neue", Helvetica, sans-serif;
	color: #343434;
	text-transform: uppercase;
	font-size: 12px;
	margin-bottom: 9px;
	font-weight: 600;
}
.bx-footer .bx-block-title{
	margin: 0;
	padding: 0;
	font-size: 24px;
	font-family: "museo_cyrl300", "OpenSans", Arial, Helvetica, sans-serif;
	color: #330000;
	font-weight: 500;
	text-transform: none;
}
/* Breadcrumb Custom*/

.bx-breadcrumb-item a {
	color: #757575;
}

.bx-breadcrumb-item a:hover {
	color: #2d2d2d;
}
/* workarea */

/*TITLE*/

h1.bx-title,
h2.bx-title,
h3.bx-title,
h4.bx-title,
h5.bx-title,
h6.bx-title {
	font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-weight: 500;
}

h1.bx-title,
h2.bx-title,
h3.bx-title {
	padding-bottom: 15px;
}

h4.bx-title,
h5.bx-title,
h6.bx-title {}

h1.bx-title {
	margin-top: 0;
	padding-bottom: 10px;
}
h2.bx-title {font-size: 25px}
h3.bx-title {}
h4.bx-title {}
h5.bx-title {}
h6.bx-title {}

/* FORMS */
input[type=text],
input[type=password] {
	margin: inherit 4px;
	padding: 0 4px;
	border: 1px solid #CCD5DB;
	border-radius: 2px;
	background: #f8fafc;
	outline: none;
}

textarea {
	display: block;
	width: 100%;
	max-width: 100%;
	min-width: 100%;
	font-size: 18px;
	min-height: 150px;
	max-height: 450px;
	margin: 0;
	padding: 0 4px;
	border: 1px solid #CCD5DB;
	border-radius: 2px;
	background: #f8fafc;
	outline: none;
}
/* INC.banners */

.bx-incbanners {
	margin: 10px 0 25px;
	text-align: center;
}
/* INC.links.footer */

.bx-inclinksfooter a {
	border-bottom: none;
}

.bx-inclinksfooter .bx-block-title {
	margin: 0;
	padding: 0;
	font-size: 17px;
	font-family: "Open Sans", "Helvetica Neue", Arial, Helvetica, sans-serif;
	color: #fff;
	font-weight: 600;
}

.bx-inclinksfooter-container {
	margin-top: 15px;
	padding: 0;
	color: #fff;
	border-radius: 2px;
	font-family: "Open Sans", "Helvetica Neue", Arial, Helvetica, sans-serif;
}

.bx-inclinksfooter-list {
	list-style: none;
	margin: 0;
	padding: 0;
}

.bx-inclinksfooter-item {
	padding: 0 0 8px 0;
}
/* INC.logo.footer */

.bx-inclogofooter {
	color: #fff;
}

.bx-inclogofooter a.bx-inclogofooter-logo:hover,
.bx-inclogofooter a.bx-inclogofooter-logo {
	border-bottom: none;
}

.bx-inclogofooter-logo img {
	max-width: 180px;
	height: auto;
}

.bx-inclogofooter-block {
	padding-bottom: 20px;
}

.bx-inclogofooter-tel {
	color: #330000;
	font-family: "Open Sans", "Helvetica Neue", Arial, Helvetica, sans-serif;
	font-size: 14px;
	font-weight: 100;
	padding-bottom: 5px;
}

.bx-inclogofooter-tel .h3{
	font-weight: 100;
	font-size: 24px;
}

.bx-inclogofooter-tel .h3:first-child{
	margin-top: 0;
}

.bx-inclogofooter-worktime {
	color: #cfd0d0;
	font-family: "Open Sans", "Helvetica Neue", Arial, Helvetica, sans-serif;
	font-size: 11px;
	font-weight: bold;
	text-transform: uppercase;
}

.footer-menu-block{
	margin-right: 30px;
}
/* INC.social.widget */

.bx-banners {
	margin: 10px 0;
}

.bx-banners .bx-block-title {
	font-family: "Open Sans", Arial, "Helvetica Neue", Helvetica, sans-serif;
	color: #343434;
	text-transform: uppercase;
	font-size: 12px;
	margin-bottom: 9px;
	font-weight: 600;
}
/* INC.wt */

.bx-wt-block {
	color: #fff;
	padding: 5px 15px;
	background: url(images/wt.png) no-repeat center top;
	-webkit-background-size: cover;
	background-size: cover;
	border-radius: 3px;
}

.bx-wt .bx-block-title {
	font-family: "Open Sans", "Helvetica Neue", Arial, Helvetica, sans-serif;
	font-size: 25px;
	font-weight: 600;
	text-transform: uppercase;
	margin-bottom: 14px;
	color: #fff;
}

.bx-wt-block ul {
	margin: 0;
	padding: 0;
	list-style: none;
	font-size: 12px;
}

.bx-wt-block ul li {
	padding-bottom: 7px;
}

.bx-wt-others-block {
	text-transform: uppercase;
	font-size: 14px;
	font-weight: bold;
	margin-bottom: 7px;
	margin-top: 4px;
}
/* news.list.sidebar */
.bx-s-info {
	margin: 10px 0;
	padding-top: 5px;
}
.bx-s-info-block {
	display: block;
	margin-bottom: 25px;
}
.bx-s-info-title {
	display: block;
	min-height: 29px;
	padding-left: 36px;
	margin-bottom: 5px;
	position: relative;
}
.bx-s-info-titleicon{
	display: block;
	background: #007FCA;
	border-radius: 50%;
	width: 30px;
	height: 30px;
	position: absolute;
	left: 0;
	top: 50%;
	margin-top: -15px;
	line-height: 30px;
	color: #fff;
	text-align: center;
	font-weight: bold;
}
.bx-s-info-titleicon i{
	line-height: 30px;
	vertical-align: middle;
	font-style: normal;
}
.bx-s-info-titletext {
	display: block;
	padding: 6px 0;
	font-family: "Open Sans", Arial, "Helvetica Neue", Helvetica, sans-serif;
	color: #343434;
	text-transform: uppercase;
	font-size: 12px;
	font-weight: 600;
}
.bx-s-info-content {
	display: block;
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-size: 13px;
	color: #3e454c;
	padding-left: 36px;
}

/* FOOTER */

.bx-footer {
	background: url('/images/footer-bg.jpg') repeat;
	color: #402f2b;
	font-size: 14px;
}

.bx-footer-section.bx-center-section {
	padding-top: 40px;
	padding-bottom: 40px;
}

.bx-footer-section.bx-center-section>div {
	margin-bottom: 20px;
}

.bx-footer a {
	font-size: 14px;
	color: #402f2b;
	text-decoration: none;
	font-weight: lighter;
}

.bx-footer a:hover {
	color: #602f2b;
	text-decoration: none;
}

.bx-footer-line {
	background: #1f496a;
}

.bx-footer-bottomline {
	background: #222425;
	font-size: 14px;
	padding: 22px 0;
}

.bx-footer .menu_resp_1 > a{
	display:block; 
	margin-top:30px;
}

@media (max-width: 1280px) and (min-width: 768px) {
	.bx-footer .menu_resp_1 > a{
		margin-top:0px;
	}
	
}

.bx-up {
	text-align: right;
}

.bx-up a,
.bx-up a:hover {
	border-bottom: none;
}

@media (min-width: 1200px) {}

@media (min-width: 992px) and (max-width: 1199px) {}

@media (min-width: 768px) and (max-width: 991px) {}

@media (max-width: 767px) {
	.bx-footer {
		text-align: center;
	}
	.bx-up {
		text-align: center;
	}
}
/**/

.btn,
.btn:hover,
.btn:active,
.btn:focus{
	text-shadow: none !important;
	-webkit-box-shadow:none !important;
	   -moz-box-shadow:none !important;
			box-shadow:none !important;
	outline:none !important;
}

.btn-primary {
	background-color: #1485ce;
	border-color: #1485ce;
}

.btn-primary.active,
.btn-primary.focus,
.btn-primary:active,
.btn-primary:focus,
.btn-primary:hover,
.open>.dropdown-toggle.btn-primary {
	background-color: #53a4d8;
	border-color: #53a4d8;
}

.btn-link {
	color: #1485ce;
}

.btn-link:focus,
.btn-link:hover {
	color: #53a4d8;
	text-decoration: none;
}
/*404*/

.bx-404-container {
	width: 100%;
	margin: 0 auto;
	text-align: center;
}

.bx-404-block {
	margin-top: 100px;
	margin-bottom: 66px;
}

@media (max-width: 768px) {
	.bx-404-block {
		margin-top: 50px;
		margin-bottom: 33px;
	}
}

.bx-404-text-block {
	font-size: 20px;
	font-family: "Open Sans", "Helvetica Neue", Arial, Helvetica, sans-serif;
	padding-bottom: 20px;
}

.bx-maps-title {
	color: #8f8f8f;
	font-size: 16px;
	font-family: "Open Sans", "Helvetica Neue", Arial, Helvetica, sans-serif;
	padding-bottom: 20px;
	padding-top: 10px;
	border-bottom: 1px solid #e9eaea;
}

.map-columns {
	padding-top: 20px;
}

.bx-map-title {
	font-weight: bold;
	font-size: 14px;
	font-family: "Open Sans", "Helvetica Neue", Arial, Helvetica, sans-serif;
	position: relative;
	min-height: 20px;
	padding-left: 25px;
	margin-bottom: 20px;
}

.bx-map-title .fa {
	color: #0083d1;
	position: absolute;
	left: 0;
	top: 2px;
	font-size: 15px;
}

.map-columns ul {
	list-style: none;
	margin-bottom: 5px;
}

.map-level-0 {
	margin-left: 0;
	padding-left: 25px;
	margin-bottom: 20px;
}

.map-level-0 li {
	margin-left: 0;
	padding-left: 0;
}

.map-level-0 ul {
	padding-left: 15px;
}

ul.map-level-1 {
	margin-bottom: 30px;
}
/*ABOUT*/

.bxd-block {
	width: 100%;
	border: 1px solid #e3e6e7;
	display: block;
	background: #fff;
	padding: 15px;
	min-height: 210px;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

a.bxd-block:hover {}

.bxd-icon {
	display: block;
	border-radius: 50%;
	height: 68px;
	width: 68px;
	margin: 0 auto;
	-webkit-transition: color .3s ease, background-color .3s ease, border-color .3s ease;
	-moz-transition: color .3s ease, background-color .3s ease, border-color .3s ease;
	-ms-transition: color .3s ease, background-color .3s ease, border-color .3s ease;
	-o-transition: color .3s ease, background-color .3s ease, border-color .3s ease;
	transition: color .3s ease, background-color .3s ease, border-color .3s ease;
}

.bxd-block:hover .bxd-icon {}

.bxd-icon .fa {
	margin-left: -1px;
	position: relative;
	font-size: 35px;
	height: 68px;
	width: 68px;
	text-align: center;
	line-height: 68px;
	vertical-align: middle;
	-webkit-transition: color .3s ease, background-color .3s ease, border-color .3s ease;
	-moz-transition: color .3s ease, background-color .3s ease, border-color .3s ease;
	-ms-transition: color .3s ease, background-color .3s ease, border-color .3s ease;
	-o-transition: color .3s ease, background-color .3s ease, border-color .3s ease;
	transition: color .3s ease, background-color .3s ease, border-color .3s ease;
}

.bxd-link:hover .bxd-icon .fa {}

.bxd-title {
	display: block;
	padding-top: 10px;
	padding-bottom: 10px;
	font-weight: bold;
	text-align: center;
	color: #000;
	font-size: 15px;
	font-family: "Open Sans", "Helvetica Neue", Arial, Helvetica, sans-serif;
	white-space: nowrap;
	-ms-text-overflow: ellipsis;
	text-overflow: ellipsis;
	overflow: hidden;
	text-transform: uppercase;
}

.bxd-desc {
	display: block;
	text-align: center;
	color: #737373;
	font-size: 12px;
}


.bx-up-button {
	border-radius: 2px;
	color: #fff;
	position: fixed;
	right: 30px;
	bottom: 30px;
	font-size: 12px;
	line-height: 20px;
	cursor: pointer;
	vertical-align: middle;
	padding: 9px 18px 7px 38px;
	-webkit-transition: background-color .3s ease, opacity .3s ease;
	-moz-transition: background-color .3s ease, opacity .3s ease;
	-ms-transition: background-color .3s ease, opacity .3s ease;
	-o-transition: background-color .3s ease, opacity .3s ease;
	transition: background-color .3s ease, opacity .3s ease;
	background: #c2c4c7 url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAgAAAALCAMAAAB1RTwXAAAACVBMVEX///////////+OSuX+AAAAAnRSTlMAf7YpoZUAAAAfSURBVHgBYwACRkYgAaKZmBihNJAFpaFiTExAgjwGAA1BAD3lDqDYAAAAAElFTkSuQmCC) 18px 13px no-repeat;
}
.bx-up-button:hover{
	background-color: #9fa0a3;
}

.review-form-container{
	background-color: #fff;
    padding: 40px;
	color: #402f2b;
}

.review-form-container thead{
	display:none;
}

.review-form-container .data-table td span{
	background:transparent;
}

.review-form-container  form{
	width: 60%;
    margin: auto;
    border: 3px solid #f1f1f1;
    padding: 40px;
}

.review-form-container  form input[type="text"], 
.review-form-container  form input[type="password"], 
.review-form-container  form textarea, 
.review-form-container  form select{
	width: 100%;
    border: 1px solid #dadada;
    border-radius: 3px;
    background: transparent;
    padding: 4px 15px;
    font-size: 14px;
}

.review-form-container  form input[type="submit"]{
	border: 1px solid #330000 !important;
    color: #330000 !important;
    background: #fff !important;
    border-radius: 3px;
    font-family: 'museo_cyrl500';
    font-weight: 500;
    padding: 3px 15px;
}

.review-form-container h2 {
    text-align: center;
}

.review-form-container .errortext{
	display:block;
	text-align: center;
}

@media only screen and (max-width: 1200px){
	.review-form-container{ padding: 40px 0; }
	
	.review-form-container  form{ width:90%; }
	
	.review-form-container form table td {
		float: none !important;
		display: block !important;
		height: auto !important;
		width: 100% !important;
		
	}
	
	.review-form-container form table td:nth-child(2){
		margin-bottom:20px !important;
	}
	
	.review-form-container form table td .starrequired{ display:none !important; }
		
}

.bx-newslist .btn{
	background: transparent;
    color: #330000;
    border: 1px solid #330000;
    padding: 5px 30px;
    font-family: 'museo_cyrl500';
    font-weight: 500;
    font-size: 14px;
}

.bx-newslist .btn:active, .bx-newslist .btn:hover{
	background: #99583d;
	color:#fff;
	border: 1px solid #330000;
}

.main-user-consent-request-popup{ z-index: 9992; }
.main-user-consent-request{ position: relative; width: 100%; }
.main-user-consent-request a{ font-size: 11px; line-height: 11px; position: absolute; margin-left: 5px; margin-top: 3px; color: #333; text-decoration: underline;}

.bx-sls .dropdown-block{ padding-bottom:8px; }


.bx_searche{
	max-height: 550px;
	overflow-y: auto;
	
	/* padding-top: 42px; */
}

.title-search-result{
position: relative;
}

.bx_searche .bx_item_block.all_result{
	/*position: absolute;*/
	top: 0;
	width: calc(100% - 15px);
	
}

.bx_searche .bx_item_block.all_result > div{
	background: #fff;
	margin-right: 18px;
}

.list-favorite .bx-pagination{
	margin-top: -10px;
}

.main-coupons__wrap {
padding-bottom: 0 !important;
margin-bottom: 0 !important;
}

@media (max-width:767px){
	#ReaspektPopupBody {
		margin:25px 0 0 0;
	}
}