.slider-list {
	height: 300px;
	overflow: hidden;
}
	.slider-list .slider-item {
		display: block;
		background-position: 50% 50%;
		background-repeat: no-repeat;
		background-size: cover;
		color: #fff;
		height: 300px;
	}
		.slider-list .slider-item > div,
		.slider-list .slider-item .text_area {
			height: 100%;
		}
		.slider-list .slider-item .text_area {
			float: right;
			padding: 0;
			background-color: rgba(0, 0, 0, .5);
			line-height: 300px;
		}
			.slider-list .slider-item .text_area .inner {
				line-height: 1;
			    display: inline-block;
			    vertical-align: middle;
				padding:0 20px;
			}
			.slider-list .slider-item .text_area .inner .logo img {
				height: 5vw;
				margin: 0 auto 1.5vw auto;
			}
			.slider-list .slider-item .text_area h3 {
				font-family: 'museo_cyrl700';
				margin-top: 0;
				margin-bottom: 1.5vw;
			}
			.slider-list .slider-item .text_area .btn {
				font-family: 'museo_cyrl500';
				color: inherit;
				border: 1px solid #fff;
			}
				.slider-list .slider-item .text_area .btn:hover {
					color: #330000;
					border-color: #330000;
				}

.slider-list .slick-arrow,
.slider-list .slick-dots li button {
	display: block;
	border: none;
	background-color: transparent;
	cursor: pointer;
	text-indent: -4000px;
}
.slider-list .slick-arrow {
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
	width: 35px;
	height: 70px;
	background-repeat: no-repeat;
	background-position: 50% 50%;
	z-index: 1;
	outline: none;
}
	.slider-list .slick-arrow:hover {
		opacity: .8;
	}
	.slider-list .slick-arrow.slick-prev {
		background-image: url(images/arrow_prev.png);
		left: 0;
	}
	.slider-list .slick-arrow.slick-next {
		background-image: url(images/arrow_next.png);
		right: 0;
	}
.slider-list .slick-dots {
	position: absolute;
	bottom: 13px;
	left: 50%;
	transform: translateX(-50%);
	margin: 0;
    padding: 0;
    z-index: 1;
}

@media only screen and (max-width: 991px) {
	.slider-list .slick-dots{ /*display:none !important;*/ }	
	
	.slider-list .slider-item .text_area {
		width:40% !important;
	}
	
	.slider-list .slick-arrow {
		display:none !important;
	}
}


	.slider-list .slick-dots li {
		display: inline-block;
		vertical-align: middle;
		padding: 0 7px;
	}
		.slider-list .slick-dots li button {
			width: 13px;
			height: 13px;
			overflow: hidden;
			background-color: #fff;
			border-radius: 50%;
		}
		.slider-list .slick-dots li.slick-active button {
			background-color: #330000;
		}
		
@media only screen and (max-width: 768px) {
	
	.slider-list .slider-item .text_area {
		width:100% !important;
	}
	
	.slider-list {
		height: 320px;
	}

	.slider-list .slider-item {
		height: 320px;
	}
	
	.slider-list .slick-dots {
		width:100%;
		text-align:center;
	}
	
	.slider-list .slider-item .text_area {
		line-height: 230px;
	}
}