
.catalog-section.list{ margin: 0 15px; }
.catalog-section.list .card-product{ background-color:#fff; margin-bottom: 20px; color: #402f2b; text-align: center; }

.catalog-section.list .card-product .bx-col{ height:180px; }

.catalog-section.list .card-product .bx-col-wrapper {
    position: relative;
    top: 50%;
    transform: translateY(-50%);
}

.catalog-section.list .card-product .card-product_title{
	margin: 0;
    padding: 0;
    white-space: normal;
    font-size: 24px;
    line-height: 24px;
    font-family: 'museo_cyrl500';
}

.catalog-section.list .card-product .card-product_title a{ color:inherit; }	

.catalog-section.list .card-product .card-product_price{
	margin: 0;
    padding: 0;
    white-space: normal;
    font-size: 26px;
    line-height: 26px;
    font-family: 'museo_cyrl700';
}

.catalog-section.list .card-product .card-product_weight{
	position: relative;
    top: -15px;
    left: 5px;
}

.catalog-section.list .card-product .card-product__actions-full{
	top: -20px;
    left: 0;
}

.catalog-section.list .card-product .add_form{
	top: -25px;
    left: 25%;
    margin: 0;
}



@media only screen and (max-width: 1249px) {
	.catalog-section.list .card-product .add_form{
		top:20px;
		left:-20px;
	}
	
}

@media only screen and (min-width: 768px) and (max-width: 991px) {
	.catalog-section.list .card-product .row .bx-col{
		height:auto;
		margin:10px;
	}
}

@media only screen and (max-width: 767px) {
	.catalog-section.list .card-product .bx-col-wrapper{
		top:0;
		transform: translateY(0%);
	}
	
	.catalog-section.list .card-product .bx-col{
		height:auto;
		margin:10px;
	}
	
	.catalog-section.list .card-product .card-product__actions-full{
		position: relative;
		top: 0px;
		left: 50%;
		transform: translateX(-50%);
		width: 200px !important;
	}
	
	.catalog-section.list .card-product .add_form{
		top: -50px;
		left: 50%;
		position: relative;
		transform: translateX(-50%);
	}
}


