div.bx-system-auth-form span.bx-auth-secure {background-color:#FFFAE3; border:1px solid #DEDBC8; padding:2px; display:inline-block; vertical-align:bottom; margin-top:-1px;}
div.bx-system-auth-form div.bx-auth-secure-icon {background-image:url(images/sec.png); background-repeat:no-repeat; background-position:center; width:19px; height:18px;}
div.bx-system-auth-form div.bx-auth-secure-unlock {background-image:url(images/sec-unlocked.png);}
.titles {
    color: #402f2b;
    font-weight: 100;
    font-size: 24px;
    text-align: center;
    margin-bottom: 20px;
    text-indent: 20px;
    font-family: 'museo_cyrl500';
}
.input {
    margin-bottom: 10px;
}

