.form-deliv form {
	position: relative;
	border: 3px solid #f1f1f1;
    padding: 30px 10px 25px;
    margin-bottom: 30px;
}

.form-deliv::after {
	content: "";
	clear: both;
	display: table;
}

.form-deliv .make-o {
	cursor: pointer;
	display: inline-block;
    position: absolute;
    right: 24px;
    top: -13px;
    font-size: 12px;
    color: #dadada;
    padding: 3px 1px;
    background: #fff;
}

.form-deliv .make-o:hover,
.form-deliv .make-o.active {
	color: #000;
}

.form-deliv .make-o.active i,
.form-deliv .make-o:hover i {
	color: green;
}

.txt-o {
	text-align: center;
}

.select-s {
	position: relative;
}

.select-s select {
	-webkit-appearance: none; 
   -moz-appearance: none;
   appearance: none;
   margin-bottom: 15px;
}

.select-s  select::-ms-expand{
    display: none;
}

.select-s::before {
	content: "\f0dd";
	display: inline-block;
    font: normal normal normal 14px/1 FontAwesome;
    font-size: inherit;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    position: absolute;
    right: 25px;
    top: 4px;
    color: #402f2b;
	font-weight:900;
}

.width-w label {
	font-family: 'Open Sans', sans-serif;
	font-weight: normal;
	padding-left: 15px;
}

.width-w label::before {
	content: "";
	position: absolute;
	left: 0;
	top: 5px;
	width: 11px;
	height: 11px;
	border: 1px solid #402f2b;
}

.width-w input[type="checkbox"] {
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	z-index: 1;
	opacity: 0;
}

.width-w.check div > label::after {
	content: "\f00c";
    font: normal normal normal 14px/1 FontAwesome;
    font-size: inherit;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
	position: absolute;
	left: 0;
	top: 2px;
	font-weight:900;
}

.width-w:not(.check) label::after {
	content: "";
}

.select-s select {
	border: 1px solid #402f2b;
    border-radius: 3px;
    padding: 3px 15px;
    width: 100%;
}

.form-deliv .cansel-deliv-form {
	cursor: pointer;
	display: inline-block;
    position: absolute;
    padding: 3px;
    background: #fff;
    right: -17px;
    bottom: 40px;
    font-size: 28px;
    color: #dadada;
}

.form-deliv .cansel-deliv-form:hover {
	color: red;
}

.form-deliv .num-deliv-form {
	display: inline-block;
    position: absolute;
    padding: 7px 3px;
    background: #fff;
    color: #dadada;
    left: -8px;
    bottom: 60px;
}

.form-deliv input[type="submit"] {
	max-width: 230px;
    margin-left: auto;
    margin-right: auto;
    display: block;
}

.form-group.width-w .col-p-l {
	padding-right: 7.5px;
}
.form-group.width-w .col-p-r {
	padding-left: 7.5px;
}

@media only screen and (max-width: 767px) {
	.form-group.width-w .col-p-l {
		padding-right: 15px;
		margin-bottom: 5px;
	}
	
	.form-group.width-w .col-p-r{
		padding-left: 15px;
	}
}

.button-panel a {
	opacity: 1 !important;
}

.button-panel .soc {
	margin-bottom: 20px;
}

.button-panel .vk {
	background: url(images/soc-sprite.png) no-repeat;
	background-position: 0 -39px !important;
}
.button-panel .vk:hover {
	opacity: 1;
	background-position: 0 0 !important;
}
.button-panel .fb {
	background: url(images/soc-sprite.png) no-repeat;
	background-position: -40px -39px !important;
}
.button-panel .fb:hover {
	opacity: 1;
	background-position: -40px 0 !important;
}
.button-panel .ok {
	width: 21px !important;
	background: url(images/soc-sprite.png) no-repeat;
	background-position: -81px -39px !important;
}
.button-panel .ok:hover {
	opacity: 1;
	background-position: -81px 0 !important;
}

.bx_profile {
	background: #fff;
}
.info-o {
	text-align: center;
}
.button-panel input[type="submit"] {
	width: 100% !important;
}
.form-group {
	margin-bottom: 5px !important;
}
.titles-leader {
	font-size: 20px;
    text-align: center;
    color: #330000;
    font-family: 'Open Sans', sans-serif !important;
    margin-top: 50px;
    margin-bottom: 30px;
}
.bx_profile {
	padding-bottom: 40px;
}
.bx_profile::after {
	content: "";
	clear: both;
	display: table;
}
.txt-o p {
	font-size: 12px;
    opacity: .7;
}
.bx_profile .main-profile-block-date-info{
	margin-bottom: 15px;
}

.bx_profile .main-profile-form-password-annotation{
	font-family: Arial, Helvetica,sans-serif;
	color: grey;
	font-weight: lighter;
	font-size: 12px;
	margin-top: 15px;
	margin-bottom: 0;
}

.bx_profile .main-profile-block-date-info, .bx_profile .form-group{
	overflow-y: hidden;
}
@media (min-width: 992px)
{
	.text-md-right{
		text-align: right;
	}

	.form-group{
		display: table;
		width: 100%;
	}

	.main-profile-form-label.text-md-right, input[class*="col-"] {
		float: none !important;
		display: table-cell;
		vertical-align: middle;
	}
}

.bx_profile .main-profile-social-block{
	margin-top: 40px;
}

.bx_profile .form-group .form-control{
	height: 40px;
}



