.card-product__actions-full {
			position: absolute;
			right: 0;
			bottom: 5px;
			height: 46px;
			text-align: right;
			padding-right: 10px;
		}
			.card-product__actions-full > div {
				display: inline-block;
				vertical-align: middle;
			}
			.card-product__actions-full .btn-fav {
				display: block;
				width: 36px;
				height: 31px;
				background: transparent url(images/sprite_like.png) 0 0 no-repeat;
				cursor: pointer;
				border-radius: 0;
			    padding: 0;
			    margin: 0;
			    transition: none;
			}
				.card-product__actions-full .btn-fav:hover {
					background-position: -36px 0;
				}
				.card-product__actions-full .btn-fav.active {
					background-position: -72px 0;
				}
					.card-product__actions-full .btn-fav.active:hover {
						background-position: -108px 0;
					}