.confirm_block {
	text-align: center;
    color: #330000;
    font-size: 16px;
    line-height: 24px;
}
.back_cat:hover{
	color: #330000;
}
.confirm_block .warning_cur.completes {
	margin: 30px auto;
	line-height: 32px;
}
.confirm_block p {
	font-size: 16px;
	line-height: 28px;
}
.confirm_block .warning_cur.completes span {
	font-weight: bold;
}
.sale-paysystem-wrapper {
	margin-bottom: 60px !important;
}
p.grey {
	color: #bdbdbd;
    font-size: 12px;
    margin-top: 25px;
    line-height: 18px;
}
.store_bl {
	text-align: center;
}
.store {
	cursor: pointer;
	border: 1px solid #330000;
    display: inline-block;
    padding: 25px 40px;
    margin: 0 15px;
    text-align: left;
    opacity: .2;
}
.errortext {
	color: red;
}
#next_level_2 {
	margin-bottom: 40px;
}
.store:hover,
.store.active {
	opacity: 1;
}
.store a {
	color: #330000;
	text-decoration: underline;
}
.store a {
	color: #330000 !important;
}
.cost_del {
	font-size: 22px;
	color: #330000;
	text-align: center;
	margin: 70px 0;
}
.cost_p {
	font-size: 18px;
}
.allSum {
	font-weight: bold;
    padding-top: 20px;
    font-size: 22px;
}
.store .wrap {
	margin-bottom: 25px;
}
.warning_cur {
	border: 1px solid #330000;
    text-align: center;
    color: #330000;
    padding: 40px 0;
}
.warning_cur.completes {
	max-width: 480px;
    margin-left: auto;
    margin-right: auto;
    border-color: #BDBDBD !important;
    padding: 30px 0 20px;
}
.bx-content {
	padding-bottom: 0 !important;
}
.last-steps a {
	display: inline-block;
    padding: 3px 0 !important;
    position: absolute;
    font-size: 13px;
    width: 160px;
    top: 0;
    right: -160px;
}
.last-steps .wrap_deliv {
	margin-bottom: 30px;
    margin-top: 0;
    position: relative;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    justify-content: space-around;
}
.buy_block {
	text-align: center;
	display: inline-block;
    padding: 0 20px;
    color: #330000;
    line-height: 30px;
}
.buy_block b {
	font-size: 22px;
    font-family: 'museo_cyrl300';
}
.next-step {
	margin-top: 30px;
	padding-top: 30px;
}
.bx_section_delivery {
	text-align: center;
	padding-top: 30px;
}
.bx_section_delivery .bx_element {
	position: relative;
	display: inline-block;
	padding-left: 35px;
}
.cost_deliv {
	font-size: 22px;
}
.more_addr textarea {
	min-height: 115px;
}
/*#ui-datepicker-div {
	display: block !important;
	opacity: 1 !important;
}*/
.cost_product {
	text-align: center;
	color: #330000;
	margin: 30px 0 0;
}
.cost_product a {
	color: #330000;
	display: inline-block;
	margin-bottom: 30px;
	text-decoration: underline;
}
.cost_product a:hover,
.store a:hover {
	text-decoration: none;
}
.free_cost {
	margin-bottom: 15px;
}
.cost_product .add_form_counter-line {
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
}
.bx_section_delivery .bx_element input[type="radio"] {
	opacity: 0;
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	z-index: 3;
}
.deliv_bl {
	min-height: 410px;
}
.ui-widget.ui-widget-content {
	border: 1px solid #330000 !important;
}
.ui-widget-header {
	background: transparent !important;
	border: none !important;
	border-radius: 0 !important;
	margin-left: -3px;
	margin-right: -3px;
	border-bottom: 1px solid #330000 !important;
	font-weight: normal !important;
	color: #330000 !important;
}
.ui-datepicker-prev.ui-corner-all,
.ui-datepicker-next.ui-corner-all {
	border: none !important;
	background: transparent !important;
}
.ui-datepicker-prev {
	top: 2px !important;
	left: 2px !important;
}
.ui-datepicker-next {
	top: 2px !important;
	right: 2px !important;
}
.ui-datepicker-next .ui-icon::before {
	content: "\f105";
    display: inline-block;
    font: normal normal normal 14px/1 FontAwesome;
    font-size: inherit;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-indent: 0 !important;
    position: absolute;
    left: 6px;
    top: 1px;
    font-weight: bold;
    
}
.ui-datepicker-prev .ui-icon::before {
	content: "\f104";
    display: inline-block;
    font: normal normal normal 14px/1 FontAwesome;
    font-size: inherit;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-indent: 0 !important;
    position: absolute;
    right: 6px;
    top: 1px;
    font-weight: bold;
    
}
.ui-datepicker td span, .ui-datepicker td a {
	padding: .6em .2em .4em !important;
}
#datepicker {
	cursor: default;
	max-width: 240px;
	margin-left: auto;
	margin-right: auto;
}
.wrap_deliv {
	max-width: 600px;
	margin-left: auto;
	margin-right: auto;
	margin-top: 20px;
}
.wrap_deliv select {
	border: 1px solid #330000;
	color: #330000;
	width: 100%;
	height: 35px;
	border-radius: 4px;
	-ms-appearance: none;
  appearance: none!important;
  -moz-appearance: none;
  -webkit-appearance: none;
  padding: 0 15px;
}
.wrap_deliv .select {
	position: relative;
}
.wrap_deliv .select::after {
	content: "\f107";
	    display: inline-block;
    font: normal normal normal 14px/1 FontAwesome;
    font-size: inherit;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-indent: 0 !important;
    position: absolute;
    right: 13px;
    top: 10px;
    font-weight: bold;
}
.wrap_deliv select::-ms-expand {
    display: none;
}
.ui-widget-header .ui-icon {
	position: relative;
	cursor: pointer;
	background: transparent !important;
}
.ui-widget-header .ui-icon:hover:before {
	opacity: .7;
}
.ui-state-default {
	background: transparent !important;
	border: none !important;
	color: #330000 !important;
	text-align: center !important;
}
.ui-state-default.ui-state-highlight {
	background: #f1f1f1 !important;
}
.ui-datepicker th {
	font-weight: normal !important;
	color: #bdbdbd !important;
	font-size: .95em !important;
	padding: 1em .3em !important;
}
.ui-state-hover:not(.ui-state-highlight),
.ui-state-default.ui-state-active {
	background: #bdbdbd !important;
	color: #fff !important;
}
.titles-d {
	color: #330000;
	margin-bottom: 25px;
	text-align: center;
}
.bx_section_delivery .bx_element::before {
	content: "";
	position: absolute;
    left: 11px;
    top: 4px;
    border: 1px solid #330000;
    width: 13px;
    height: 13px;

}
.bx_section_delivery .bx_element.active::after {
	content: "";
    position: absolute;
    left: 14px;
    top: 7px;
    border: 1px solid #330000;
    background: #330000;
    width: 7px;
    height: 7px;
}
.bx_section_delivery .bx_element label {
	font-weight: normal;
	color: #330000;
	text-align: left;
}
.add_info {
	text-align: center;
	vertical-align: top;
}
.bx_result_price {
	color: #bdbdbd;
}
.modal-window .close {
	border: 1px solid #402f2b;
    border-radius: 50%;
    font-weight: normal;
    opacity: 1;
    padding: 2px 6px;
    position: absolute;
    right: 25px;
    top: -20px;
}
#next_level_1 {
	margin-bottom: 15px;
}
.panel_top_basket .list {
	margin-bottom: 0;
}
.panel_top_basket {
	background-color: transparent !important;
}
.steps {
	background: #fff;
	padding-top: 1px;
}
.modal-window .close:hover {
	opacity: .6;
}
.link_with_user {
	padding-left: 0;
	text-align: center;
}
.link_with_user li {
	display: inline-block;
	list-style: none;
	margin: 0 15px;
}
.link_with_user li a {
	color: #bdbdbd;
}
.link_with_user li a:hover {
	color: #330000;
}
.link_with_user li a.active,
.order_one_click {
	color: #330000;
	text-decoration: underline;
}
.txt_order_1_click.complete {
	font-size: 20px;
	margin-top: 40px; 
	margin-bottom: 40px; 
	line-height: 30px;
}
.txt_order_1_click.complete span {
	font-size: 16px;
}
.order_one_click:hover {
	color: #330000;
}
.order_one_click {
	position: absolute;
    right: -130px;
    top: 7px;
}
.link_with_user li a:hover {
	text-decoration: none;
}
.titles-leader {
	margin-top: 0 !important;
}
.bx-theme-green .btn.btn-default.next-level {
	border: 1px solid #330000 !important;
	max-width: 200px;
	margin-left: auto;
	margin-right: auto;
	margin-top: 20px;
}
.error_block {
	text-align: center;
}
.error_block div {
	margin: 10px 0;
}
.number {
	position: relative;
    font-size: 16px;
    padding-left: 25px;
    color: #330000;
}
.number span {
	position: absolute;
    top: -7px;
    left: 0;
    font-size: 26px;
    padding-right: 5px;
}
.container_order {
	max-width: 400px;
    margin-left: auto;
    margin-right: auto;
}
.steps::after {
	content: "";
	clear: both;
	display: table;
}
.addr_block {
	cursor: pointer;
	position: relative;
	border: 1px solid #330000;
    padding: 25px 30px;
    border-radius: 2px;
    margin: 25px 0;
    opacity: .2;
}
.bx_block {
	position: relative;

}
.addr_block.active,
.addr_block:hover {
	opacity: 1;
}
.addInput {
	cursor: pointer;
	width: 170px;
	color: #330000;
	margin-left: auto;
	margin-right: auto;
	position: relative;
	margin-bottom: 20px;
}
.txt_order_1_click {
	text-align: center;
    line-height: 22px;
}
.input_order_1_click {
	margin-top: 25px;
}
.input_order_1_click input {
	max-width: 251px;
    margin-left: auto;
    margin-right: auto;
}
.hidden-block {
	display: none;
}
.more_addr input,
.more_addr textarea {
	margin-bottom: 10px !important;
}
.user_without {
	max-width: 600px;
	margin-left: auto;
	margin-right: auto;
}
.user_without input,
.user_without textarea {
	margin-bottom: 10px !important;
}
.user_without .bx_block {
	margin-bottom: 30px;
}
.bx_description {
	display: block;
	margin-top: -7px;
	margin-bottom: 15px;
	font-size: 12px;
	color: #330000;
}
.addInput::after {
    content: "\f105";
    display: inline-block;
    position: absolute;
    right: 0;
    top: 3px;
    font: normal normal normal 14px/1 FontAwesome;
    font-size: inherit;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    color: #330000;
}
.arr {
	position: absolute;
    right: 15px;
    top: 9px;
    z-index: 3;
    color: #330000;
}
.addr_block .edit {
	cursor: pointer;
	position: absolute;
	width: 15px;
	height: 15px;
	right: 15px;
	top: 13px;
	background: url(images/edit_order.png) no-repeat;
}
.addr_block .edit:hover {
	opacity: .6;
}
.addr_block ul {
	padding-left: 0;
	margin-bottom: 0;
}
.addr_block li {
	list-style: none;
	margin: 5px 0;
}

@media (min-width: 1000px) {
	.steps {
		padding-left: 5%;
		padding-right: 5%;
	}
}
@media (max-width: 1000px) {
	.number {
		max-width: 210px;
		margin: 30px auto;
	}
	#confirm {
		margin-bottom: 40px;
	}
	.steps {
		padding: 15px 25px;
	}
}
@media (max-width: 740px) {
	.order_one_click {
		position: static;
    	display: inline-block;
    	padding-bottom: 20px;
	}
}
@media (max-width: 500px) {
	p {
		font-size: 16px !important;
	}
	.warning_cur {
		padding-left: 15px !important;
		padding-right: 15px !important;
	}
}