.ac-container{
	display:none;
}
.delivery-page-title {
    font-family: 'museo_cyrl500';
    font-size: 24px;
    background-color: #fff;
    width: 184px;
    height: 50px;
    text-align: center;
    padding-top: 10px;
	position:relative;
	margin-left:114px;
	margin-bottom: 20px;
	color:#402f2b;
}
.delivery-page-title:before{
    background: url(../img/titlle-before.png);
    background-repeat: no-repeat;
    background-size: contain;
    top: 0px;
    left: -114px;
    width: 114px;
    position: absolute;
    height: 50px;
    z-index: 0;
    content: "";
    background-position: left top;
	color:#402f2b;
}

.delivery-page p, 
.delivery-page ul, 
.delivery-page td, 
.delivery-page th, 
.delivery-page li {
	font-family:'Open Sans', sans-serif;
    font-weight: 500;
}

.delivery-page-h2 {
    font-family: 'museo_cyrl500';
    font-size: 24px;
	position:relative;
	color:#402f2b;
	margin-top: 35px;
    margin-bottom: 30px;
}

.delivery-page-white-box-text {
    background-color: #fff;
    width: 290px;
    height: 151px;
    border: 1px solid #402f2b;
	float:left;
	padding-left: 25px;
    padding-top: 25px;
}
.table-deliveries{
	clear:both;
}

.delivery-page-white-box-text2 {
    background-color: #fff;
    margin-left: 300px;
    height: 151px;
	padding: 30px 45px 0px 45px;
}

.table-row {
    background-color: rgba(255,255,255,0) !important;
}

.table-deliveries > tbody > .table-row > td{
	border:none !important;
}

.city-link {
    color: #402f2b;
    font-family: 'museo_cyrl300';
    font-size: 16px;
    background-color: #fff;
    width: 290px;
    display: block;
    height: 50px;
    text-align: center;
    padding-top: 16px;
	margin-bottom: 10px;
}
.city-link:hover, .city-link:active, .city-link:focus, .city-link:visited {
	border-left:10px solid #99583d;
	text-decoration:none;
}
.active-first{
	border-left:10px solid #99583d;
	text-decoration:none;	
}

.table-left-city {
    width: 300px;
}
td.city-deliveries p {
    padding: 20px;
}

a.city-link[data-id="4"] {
    margin-bottom: 0px;
}

td.table-left-city {
    padding-bottom: 0px !important;
    padding-top: 0px !important;
    padding-left: 0px !important;
}
.city-deliveries {
    background-color: #fff;
    padding-bottom: 0px !important;
}
.delivery-id0{
	position:relative;
	margin-left:87px;
}
.delivery-id1{
	position:relative;
	margin-left:87px;
}
.delivery-id2{
	position:relative;
	margin-left:101px;
}
.delivery-id3{
	position:relative;
	margin-left:88px;
}
.delivery-id0:before{
    background: url(../img/id0.png);
    background-repeat: no-repeat;
    background-size: contain;
    top: 15px;
    left: -37px;
    width: 37px;
    position: absolute;
    height: 33px;
    z-index: 0;
    content: "";
    background-position: left top;
}

.delivery-id1:before{
    background: url(../img/id1.png);
    background-repeat: no-repeat;
    background-size: contain;
    top: 15px;
    left: -37px;
    width: 37px;
    position: absolute;
    height: 33px;
    z-index: 0;
    content: "";
    background-position: left top;
}
.delivery-id2:before{
    background: url(../img/id2.png);
    background-repeat: no-repeat;
    background-size: contain;
    top: 15px;
    left: -51px;
    width: 51px;
    position: absolute;
    height: 15px;
    z-index: 0;
    content: "";
    background-position: left top;
}
.delivery-id3:before{
    background: url(../img/id3.png);
    background-repeat: no-repeat;
    background-size: contain;
    top: 15px;
    left: -38px;
    width: 38px;
    position: absolute;
    height: 35px;
    z-index: 0;
    content: "";
    background-position: left top;
}
.table-deliveries {
    margin-bottom: 40px;
}
.type {
    background-color: #d6d3d3;
    height: 56px;
    font-family: 'museo_cyrl500';
    font-size: 20px;
    position: relative;
    color: #402f2b;
    padding-left: 15px;
    padding-top: 15px;
}
#type0 {
    padding-left: 60px;
	width: calc(100% - 20px);
    margin-left: 10px;
}
#type0:before{
    background: url(../img/id0.png);
    background-repeat: no-repeat;
    background-size: contain;
    top: 12px;
    left: 10px;
    width: 37px;
    position: absolute;
    height: 33px;
    z-index: 0;
    content: "";
    background-position: left top;
}
#type1 {
    padding-left: 60px;
}
#type1:before{
    background: url(../img/id1.png);
    background-repeat: no-repeat;
    background-size: contain;
    top: 12px;
    left: 10px;
    width: 37px;
    position: absolute;
    height: 33px;
    z-index: 0;
    content: "";
    background-position: left top;
}
#type3 {
    padding-left: 60px;
	margin-bottom: 25px;
}
#type3:before{
    background: url(../img/id3.png);
    background-repeat: no-repeat;
    background-size: contain;
    top: 12px;
    left: 10px;
    width: 38px;
    position: absolute;
    height: 35px;
    z-index: 0;
    content: "";
    background-position: left top;
}

.table-deliveries2 > tbody > tr > th, .table-deliveries2 > tbody > tr > td{
	border-top:none;
	height:50px;
	padding-top: 15px;
}
.table-deliveries3 > tbody > tr > th, .table-deliveries3 > tbody > tr > td{
	border-top:none;
	height:50px;
	padding-top: 15px;
}
.row-one{
	background-color:#fff;
	height:50px;
}
.row-one th{
	color: #402f2b;
    font-family: 'museo_cyrl300';
	padding-top: 15px !important;
    text-align: center;
}

.cityname{
	font-family: 'museo_cyrl300' !important;
	text-align:center;
	font-size:16px;
	background-color:#fff;
    width: 26%;
}

.value {
    text-align: center;
	background-color:#fff;
    width: 59%;
    font-size: 16px;
    font-weight: 400;
}

.price {
    text-align: center;
    width: 15%;
	background-color: #fff;
    font-size: 16px;
    font-weight: 400;
}
.table-deliveries3{
	border-spacing: 10px;
	border-collapse: initial; 
}

.table-deliveries2 {
    width: calc(100% - 20px);
    margin: 0px 10px;
    border: 1px solid #402f2b;
}

.box-white{
	background-color:#fff;
	height:50px;
	padding-top: 15px;
    padding-left: 30px;
	margin-bottom: 30px;
}

.contacts{
	background-color:#fff;
	height:135px;
	padding-left: 25px;
	padding-top: 20px;
	padding-bottom: 20px;
}
.phone1{
	position:relative;
	margin-left:30px;
    text-align: left;
}
.phone1:before{
    background: url(../img/f-1.png);
    background-repeat: no-repeat;
    background-size: contain;
    top: -2px;
    left: -31px;
    width: 27px;
    position: absolute;
    height: 27px;
    z-index: 0;
    content: "";
    background-position: left top;
}

.email1{
	position:relative;
	margin-left:30px;
    text-align: left;
}
.email1:before{
    background: url(../img/f-2.png);
    background-repeat: no-repeat;
    background-size: contain;
    top: -2px;
    left: -34px;
    width: 28px;
    position: absolute;
    height: 22px;
    z-index: 0;
    content: "";
    background-position: left top;
}

.skype1{
	position:relative;
	margin-left:30px;
    text-align: left;
}
.skype1:before{
    background: url(../img/f-3.png);
    background-repeat: no-repeat;
    background-size: contain;
    top: -2px;
    left: -31px;
    width: 27px;
    position: absolute;
    height: 26px;
    z-index: 0;
    content: "";
    background-position: left top;
}
.abzac{
	margin-bottom: 38px;
}

.empty-cell{
	width: 26%;
}

.table-for-small-screen{
	display:none;
}

/*Адаптив*/
@media only screen and (max-width: 1199px) {
	.delivery-page-white-box-text2 {
		height: 190px;
		margin-bottom: 10px;
	}
	.delivery-page-white-box-text {
		height: 190px;
		padding-top: 45px;
	}
	.box-white {
		height: 70px;
	}
}
@media only screen and (max-width: 992px) {
	.abzac {
		margin-bottom: 10px;
	}
	.city-deliveries p {
		padding: 10px !important;
	}
	.delivery-id0:before {
		left: -45px;
	}
	.delivery-id1:before {
		left: -45px;
	}
	.delivery-id2:before {
		left: -65px;
	}
	.delivery-id3:before {
		left: -46px;
	}
}

@media only screen and (max-width: 754px) {
	.delivery-page-white-box-text2 {
		height: 220px;
	}
	.delivery-page-white-box-text {
		height: 220px;
		padding-top: 55px;
	}
	 .table-deliveries3 > tbody > tr > td{
		 padding:0px !important;
	 }
}
@media only screen and (max-width: 712px) {
	.city-deliveries p {
		padding: 5px !important;
	}
}
@media only screen and (max-width: 696px) {
	.delivery-page-white-box-text2 {
		padding-top: 15px;
	}
	.delivery-page-white-box-text2 {
		padding: 10px 25px 0px 25px;
	}
	.delivery-id0 {
		margin-left: 60px;
	}
	.delivery-id1 {
		margin-left: 60px;
	}
	.delivery-id2 {
		margin-left: 60px;
	}
	.delivery-id3 {
		margin-left: 60px;
	}
	.delivery-id2:before {
		left: -52px;
	}
}

@media only screen and (max-width: 648px) {
	.value {
		max-width: 300px !important;
		width:50%;
	}
	.cityname {
		max-width: 135px !important;
		width:30%;
	}
	.empty-cell {
		max-width: 135px !important;
		width:30%;
	}
	.price {
		max-width: 105px !important;
		width:20%;
	}
	.delivery-page-white-box-text2 {
		height: 240px;
	}
	.delivery-page-white-box-text {
		height: 240px;
		padding-top: 65px;
	}
}

@media only screen and (max-width: 637px) {
	.box-white {
		height: 88px;
	}
	.delivery-page-white-box-text {
		height: 270px;
		padding-top: 85px;
	}
	.delivery-page-white-box-text2 {
		height: 270px;
	}
	.abzac {
		margin-bottom: 5px;
	}
	.delivery-page-white-box-text2 {
		padding-top: 5px;
	}
}

@media only screen and (max-width: 599px) {
	.delivery-page-title:before{
		display:none;
	}
	.delivery-page-title {
		font-family: 'museo_cyrl500';
		font-size: 32px;
		background-color: rgba(255,255,255,0);
		width: 100%;
		height: 50px;
		text-align: center;
		padding-top: 10px;
		position: relative;
		margin-left: 0px;
		margin-bottom: 20px;
		color: #402f2b;
	}
	.delivery-page p, ul, td, th, li {
		font-size: 12px;
	}
	.list-city{
		display:none;
	}
	.delivery-page-h2 {
		font-family: 'museo_cyrl500';
		font-size: 18px;
		position: relative;
		color: #402f2b;
		margin-top: 20px;
		margin-bottom: 20px;
		text-align: center;
	}
	.delivery-page-white-box-text {
		display: none;
	}
	.delivery-page-white-box-text2{
		display: none;
	}
	.container.delivery-page {
		padding: 0px !important;
	}
	/*-------------------------------*/
	.ac-container{
		display:block;
	}
	.ac-container [name="accordion-1"] { display: none; }
	.ac-container > :not(input):not(label) {
	  overflow: hidden;
	  height: 0;
	  margin: 0;
	  padding: 0 .5em;
	  border-top-style: none;
	  transition: .5s;
	}
	.ac-container > label {
	  overflow: hidden;
	  display: block;
	  padding: .5em 1em;
	  background: #fff;
	  color: #402f2b;
	  height:40px;
	  font-family: 'museo_cyrl300';
	  font-size: 14px;
	  white-space: nowrap;
	  text-overflow: ellipsis;
	  cursor: pointer;
	  border:1px solid #402f2b;
	  text-align: center;
	}
	.ac-container > :checked + label + * {
		overflow: auto;
		height: auto;
		padding-bottom: 30px !important;
	}
	.ac-container > :checked + label {
	  background: #fff;
	  cursor: pointer;
	}
	
	.table-deliveries{
		display:none;
	}
	.delivery-id0 {
		padding: 10px;
	}
	.delivery-id1 {
		padding: 10px;
	}
	.delivery-id2 {
		padding: 10px;
	}
	.delivery-id3 {
		padding: 10px;
	}
	/*-------------------------------*/
	.table-for-full-screen{
		display:none;
	}
	.table-for-small-screen{
		display:block;
	}
	.table-deliveries-small > tbody > tr > th{
		vertical-align: middle;
		border-top: none;
	}
	.table-deliveries-small > tbody > tr > td{
		border-top: none;
	}
	.small-row{
		background-color:#d6d3d3;
	}
	.table-deliveries-small {
		width: 100vw;
		margin-left: -15px;
		border-collapse: inherit;
		margin-bottom: 20px;
	}
	.table-deliveries-small > tbody > tr > th > a {
		color: #827b79;
		font-family: 'museo_cyrl300';
		font-size: 16px;
	}
	.table-deliveries-small > tbody > tr > th > a:hover, .table-deliveries-small > tbody > tr > th > a:active, .table-deliveries-small > tbody > tr > th > a:focus{
		color: #402f2b !important;
		text-decoration:none;
	}
	.table-deliveries-small > tbody > tr > th:hover, .table-deliveries-small > tbody > tr > th:active{
		border-bottom: 3px solid #402f2b;
		box-sizing: border-box;
		padding: 3px;

	}
	.table-deliveries-small > tbody > tr > th:hover, .table-deliveries-small > tbody > tr{
		height: 40px;
	}
	.box-white {
		height: auto;
		background-color: rgba(255,255,255,0);
		padding-left: 10px;
	}
	.name-city{
		font-family: 'museo_cyrl500';
		font-size: 14px;
		color: #402f2b;
		background-color:#fff;
		height:30px;
		text-align:center;
		padding-top: 5px;
		display: block;
	}
	#first-tr{
		margin-bottom: 25px;
		display: block;
		width: 100vw;
		margin-left: -8px;
	}
	.method {
		font-size: 14px;
		width: 70%;
		padding-bottom: 15px;
	}
	.price2 {
		font-size: 14px;
		text-align: right;
		display: block;
		padding-right: 5px;
	}
	.contacts {
		height: auto;
		padding-left: 10px;
		width: 100vw;
		margin-left: -15px;
		padding: 30px;
	}
	#phone1 {
		display: block;
		width: 100% !important;
		padding: 10px 0px;
	}
	
	#email1 {
		display: block;
		width: 100% !important;
		padding: 10px 0px;
	}
	#skype1 {
		display: block;
		width: 100% !important;
		padding: 10px 0px;
	}
	
	.phone1 {
		position: relative;
		margin-left: 30px;
		padding-left: 10px;
		text-align: left;
	}
	
	.email1 {
		position: relative;
		margin-left: 30px;
		text-align: left;
		padding-left: 10px;
	}

	.skype1 {
		position: relative;
		margin-left: 30px;
		text-align: left;
		padding-left: 10px;
	}
	.bx-content .delivery-page {
		padding-bottom:0px !important;
	}
	.active-first2{
		color: #402f2b !important;
		text-decoration:none;		
	}
	.active-first3{
	    border-bottom: 3px solid #402f2b;
		box-sizing: border-box;
		padding: 3px;
	}
}
